<div class="shop-content-height">
  <div class="d-flex">
    <div class=" mr-1">
      <form [formGroup]="articleSearchForm" (keydown.enter)="$event.preventDefault()">
        <div class="input-group">
          <!-- <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" [textValue]="textValue"
          (selectDefaultEvent)="searchArticles(articleSearchForm.value)"
            (selectEvent)="onSelectSearchItem($event,articleSearchForm.value)"> </us-autocomplete> -->
            <input class="w-100" #autobox autofocus

              (change)="searchArticles($event.target.value)" (keyup.enter)="searchArticles($event.target.value)">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="clearSearch()">
              <span class="icon-close"></span>
            </button>
            <button class="btn btn-primary" type="button" (click)="searchArticles(articleSearchForm.value)">
              <span class="icon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class=" mr-1">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{'COMMON.FilterByArticleName'| translate}}" (keyup)="filterByName($event.target.value)">
      </div>
    </div>
    <div class=" mr-1">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{'COMMON.FilterByVendorName'| translate}}" (keyup)="filterByVendor($event.target.value)">
      </div>
    </div>
    <div class=" mr-1">
      <div class="form-group">
        <select class="custom-select cursor-hand" (change)="onArticleTypeChange($event.target.value)" [(ngModel)]="articleType">
          <option value="ALL">{{'COMMON.All'| translate}}</option>
          <option value="ITEM">{{'COMMON.Items'| translate}}</option>
          <option value="SERVICE">{{'COMMON.Services'| translate}}</option>
        </select>
      </div>
    </div>
    <div class=" mr-1">
      <div class="form-group">
        <select class="custom-select cursor-hand" (change)="onArtleCategoryChange($event.target.value)" [(ngModel)]="articleCategory">
          <option value="ALL">{{'COMMON.All'| translate}}</option>
          <option *ngFor="let item of articleCategoryList" value="{{item.Code}}">{{item.Name}}</option>
        </select>
      </div>
    </div>
    <div class=" mr-1">
      <div class="form-group">
        <select class="custom-select cursor-hand" (change)="onActivityChange($event.target.value)" [(ngModel)]="activityCategory" [disabled]="isDisableActivityChange">
          <option value="ALL">{{'COMMON.All'| translate}}</option>
          <option *ngFor="let item of activityCategoryList" value="{{item.Code}}">{{item.Name}}</option>
        </select>
      </div>
    </div>
    <!-- <div class=" mr-1">
      <div class="form-group">
        <select class="custom-select cursor-hand" (change)="onPriceTypeChange($event.target.value)">
          <option value="0">{{'COMMON.CustomerPrice'| translate}}</option>
          <option value="1">{{'COMMON.EmployeePrice'| translate}}</option>
        </select>
      </div>
    </div> -->
    <div class=" mr-1">
      <div class="form-group">
        <us-icon-button (click)="openGiftVoucherModel(giftVoucherModel)" [iconClass]="'icon-add'" [labelText]="'COMMON.GiftVoucherB'| translate"></us-icon-button>
      </div>
    </div>

  </div>

  <us-tab #tabController>
    <tab-content [tabTitle]="'COMMON.SortCutKey' | translate">
      <app-shortcut-key> </app-shortcut-key>
    </tab-content>
    <tab-content #articleList [tabTitle]="'COMMON.ArticleList' | translate">
      <app-article-list> </app-article-list>
    </tab-content>
    <tab-content [tabTitle]="'COMMON.Campaign' | translate">
      <app-campaign-list> </app-campaign-list>
    </tab-content>
  </us-tab>

</div>

<ng-template #giftVoucherModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'COMMON.AddGiftVoucher'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <form [formGroup]="addGiftVoucherForm">

    <div class="modal-body">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{'COMMON.VoucherNumber'| translate}}</label>
            <input class="form-control" type="text" formControlName="VoucherNumber">
          </div>
          <div class="form-group">
            <label>{{'COMMON.VoucherPrice'| translate}}</label>
            <!-- <input class="form-control" type="number" step="0.01" formControlName="Price"> -->
            <us-amount-input class="w-100" formControlName='Price' us-error [errorMsg]="giftVErrors.Price"
            [displayError]="giftFormSubmited && !addGiftVoucherForm.get('Price').valid" (valueChange)="VoucherPriceChanged($event)"
              placement="right"></us-amount-input>
          </div>
          <div class="form-group">
            <label>{{'COMMON.SalePrice'| translate}}</label>
            <!-- <input class="form-control" type="number" step="0.01" formControlName="PurchasedPrice"> -->
            <us-amount-input [disabled]="VoucherNotEditable" class="w-100" formControlName='PurchasedPrice' us-error [errorMsg]="giftVErrors.PurchasedPrice"
            [displayError]="giftFormSubmited && !addGiftVoucherForm.get('PurchasedPrice').valid"
              placement="right"></us-amount-input>
          </div>
          <div class="form-group">
            <label>{{'COMMON.ExpiryDate'| translate}}</label>
            <us-date-picker name="expiryDate" formControlName="ExpiryDate" #expiryDate [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions">
            </us-date-picker>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'COMMON.Add'| translate " (click)="addGiftVoucher(addGiftVoucherForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'COMMON.Cancel' | translate " (click)="c('Close click')"></us-icon-button>
    </div>
  </form>

</ng-template>
