:host {
    display: block;
    width: 100%;
    min-height: 100%;
}


// scroller content basic
:host/deep/ .slimscroll-wrapper {
    width: 100% !important;
}

:host/deep/.scroll-content {
    height: calc(100vh - 190px);
    width: 100%;
}

//datepiker style min
 :host/deep/.mydp {
    .selection,
    .selbtngroup {
        height: 24px !important;
    }
    .selector {
        width: 230px !important;
    }
}

::ng-deep .popover-scroller{
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}