<div class="d-flex no-gutters">
  <!-- <div class="input-group w-50" style="align-items: baseline">
    <label>{{'MEMBERSHIP.Search' | translate}}&nbsp;</label>
    <div class="input-group">
       <input class="w-75" type=text #autobox
         (blur)="onSelectSearchItem($event)">
    </div>
  </div> -->
  <div *ngIf="!singleSelection" class="input-group ml-auto w-50" style="align-items: baseline">
    <label>{{ 'MEMBERSHIP.Type' | translate }}&nbsp;</label>
    <select class="custom-select w-50" (change)="getArticleCategories($event.target.value)">
      <option value="ALL">{{'MEMBERSHIP.All' | translate}}</option>
      <option *ngFor = "let type of selectionTypes" value="{{type.value}}">{{ type.Display | translate }}</option>
      <!--<option value="ITEM">{{ 'MEMBERSHIP.Items' | translate }}</option>-->
    </select>
  </div>
  <div *ngIf="singleSelection" class="input-group ml-auto w-50" style="align-items: baseline">
    <label>{{ 'MEMBERSHIP.Type' | translate }}&nbsp;</label>
    <input type="text" value="{{selectionType}}" class="from-control" disabled>
  </div>
  <div  class="input-group ml-2 w-50" style="align-items: baseline">
    <label>{{ 'MEMBERSHIP.Category' | translate }}&nbsp;</label>
    <select class="custom-select w-50"  (change)="changeCategory($event.target.value)">
      <option value="ALL">{{'MEMBERSHIP.All' | translate}}</option>
      <option *ngFor="let item of articleCategories" value="{{item.Code}}">{{item.Name | translate}}</option>
    </select>
  </div>
</div>

<div class="d-flex no-gutters">
    <ag-grid-angular
    class="ag-theme-balham grid"
    [rowData]="articleList"
    [columnDefs]="orderDefs"

    [enableSorting]="true"
    [enableColResize]="true"
    [enableFilter]="false"
    [floatingFilter]="true"

    [suppressCellSelection] ="true"
    [suppressNoRowsOverlay]="true"
    [suppressRowClickSelection]="true"

    [rowSelection]="'multiple'"
    [singleClickEdit]="false"

    [defaultColDef]="defaultColDef"

    (rowDoubleClicked)="selectRowDblClick($event.data)"

    (gridReady)="onGridReady($event)"

    >
    </ag-grid-angular>
    <!-- (rowDoubleClicked)="selectRowDblClick($event.data)" -->
  <!-- <us-data-table [items]="articleList" #datatable (rowDoubleClick)="selectRowDblClick($event.row.item)">
    <data-table-column [property]="'IsSelected'"  [width]="40">
      <ng-template #dataTableCell let-item="item">
        <div>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [checked]="item.IsSelected" (change)="item.IsSelected = !item.IsSelected">
                <span class="custom-control-indicator"></span>
              </label>
        </div>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ArticleNo'" header="{{ 'MEMBERSHIP.ArticleNo' | translate }}" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="'Description'" header="{{ 'MEMBERSHIP.ArticleName' | translate }}" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="'DefaultPrice'" header="{{ 'MEMBERSHIP.UnitPrice' | translate }}" [sortable]="true" [resizable]="true"
      [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.DefaultPrice | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'StockLevel'" header="{{ 'MEMBERSHIP.CISStockLevel' | translate }}" [sortable]="true" [resizable]="true"
      [alignment]="'right'">
    </data-table-column>
    <data-table-column [property]="'VendorName'" header="{{ 'MEMBERSHIP.CISVendor' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'DueDate'" header="{{ 'MEMBERSHIP.Quantity' | translate }}" >
      <ng-template #dataTableCell let-item="item">
        <input type="text" [(ngModel)]="item.Quantity" class="form-control form-control-sm">
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<div class="modal-footer p-0 pt-1">
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'OK'" (click)="selectArticles()"></us-icon-button>
  <!-- <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.CANCEL' | translate" (click)="orderlineModelClose()"></us-icon-button> -->
</div>
