<div class="d-block member-card-header p-1 clearfix">
    <div class="mc-pic d-flex justify-content-center align-items-center" [ngStyle]="isleftPanelCollapsed ? {'height': '32px', 'width': '32px','left': '0px'} : {}">
        <img [src]="adminImage" [ngStyle]="isleftPanelCollapsed ? {'height': '30px', 'width': '30px'} : {}">
        <span class="edit-pic" *ngIf="!isleftPanelCollapsed">
            <button class="btn btn-primary btn-icon-min " *ngIf="_editMode" (click)="editImage(imageUploaderModal)">
                <span class="icon-edit"></span>
            </button>
        </span>
    </div>
    <div class="float-left" style="height: 1.8rem;">
        <span class="mc-title" [ngStyle]="isleftPanelCollapsed ? {'margin-left': '36px'} : {}">{{selectedMember?.CustId}} {{selectedMember?.Name}}</span>
        <button class="btn btn-link text-info cursor-hand" *ngIf="selectedMember?.MemberId>0" (click)="goToMemberCard()">{{'ADMIN.GotoCustomerCard' | translate}}
            <span class="icon-caret-right"></span>
            <span class="icon-caret-right" style="margin-left: -6px;"></span>
        </button>
    </div>
    <div class="float-right d-flex justify-content-start">

    </div>
</div>
<div class="member-card">
    <div class="mc-left-pane align-self-stretch align-self-baseline" [ngStyle]="isleftPanelCollapsed ? {'max-width': '30px', 'min-width': '30px'} : {}">
        <span class="mc-binf-edit" *ngIf="!isleftPanelCollapsed">
            <button class="btn btn-primary btn-icon-min " (click)="editCustomer()" *ngIf="!_editMode">
                <span class="icon-edit"></span>
            </button>
        </span>
        <strong class="basic-info-title" *ngIf="!isleftPanelCollapsed">{{'ADMIN.EmViewPersonalInformation' | translate}}</strong>
        <employee-basic-info *ngIf="!isleftPanelCollapsed"></employee-basic-info>
        <a class="p-1 btn-open-pannel cursor-hand" *ngIf="!_editMode" (click)="isleftPanelCollapsed = !isleftPanelCollapsed; _editMode = false"
            [ngStyle]="isleftPanelCollapsed ? {'right': '0px'} : {}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path class="fill-primary" d="M22.3,5.2c0-0.9-0.7-1.6-1.6-1.6H7.6C6.7,3.6,6,4.3,6,5.2s0.7,1.6,1.6,1.6h13.1C21.6,6.8,22.3,6.1,22.3,5.2z M6,18.8
             c0,0.9,0.7,1.6,1.6,1.6h13.1c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6h-13C6.7,17.2,6,17.9,6,18.8z M1.9,12c0,0.9,0.7,1.6,1.6,1.6
             h17.2c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6H3.5C2.6,10.4,1.9,11.1,1.9,12z" />
            </svg>
        </a>

    </div>
    <div class="off-canvas-panel-ani mc-right-pane align-self-stretch align-self-baseline" id="mc-rightpane">
        <div class="mc-header">
            <span class="ml-2">{{title}}</span>

            <a class="p-1 float-right align-items-end cursor-hand" (click)="openNav()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px"
                    viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <path class="fill-primary" d="M3.5,6.8h13.1c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6H3.5c-0.9,0-1.6,0.7-1.6,1.6S2.6,6.8,3.5,6.8z M16.5,17.2H3.5
c-0.9,0-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h13.1c0.9,0,1.6-0.7,1.6-1.6S17.5,17.2,16.5,17.2z M20.7,10.4H3.5c-0.9,0-1.6,0.7-1.6,1.6
s0.7,1.6,1.6,1.6h17.2c0.9,0,1.6-0.7,1.6-1.6S21.6,10.4,20.7,10.4z" />
                </svg>
            </a>
        </div>

        <div class="p-1">
            <router-outlet></router-outlet>
        </div>
        <!--customer card right menu navigation Panel  -->
        <div id="mc-menu-slide" class="off-canvas-panel">
            <div class="scroll-content-nav" usScroll>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-roles')">{{'ADMIN.EmRoles' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-work')">{{'ADMIN.Work' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-bookings')">{{'ADMIN.Bookings' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-classes')">{{'ADMIN.TitleClasses' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-followup')">{{'ADMIN.Followup' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-job')">{{'ADMIN.Job' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-events')">{{'ADMIN.Events' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('employee-info-time')">{{'ADMIN.Time' | translate}}</button>
            </div>
        </div>
    </div>

</div>

<ng-template #imageUploaderModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <span class="modal-title">{{'ADMIN.AddEmUploadPhoto' | translate}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col" style="min-height: 280px;">
                <!--======Edit Member Basic Info Profile picture==========-->

                <div *ngIf="atDecition" class="mc-basic-info text-center" style="min-width: 285px;">
                    <button class="btn btn-primary w-50 mt-3" type="button" (click)="wantToUploadFile()">{{'ADMIN.AddEmUploadPhoto' | translate}}</button>
                    <p class="mt-2">{{'ADMIN.AddEmFromYourComputer' | translate}}</p>
                    <div class="divider"></div>
                    <button class="btn btn-primary w-50" type="button" (click)="wantToUseWebCam()">{{'ADMIN.AddEmTakePhoto' | translate}}</button>
                    <p class="mt-2">{{'ADMIN.AddEmWithYourWebCam' | translate}}</p>
                </div>

                <!-- ///////////////////////////////for the cropping seen///////////////////////////// -->
                <div *ngIf="useWebcam">
                    <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>
                    <div class="card">
                        <div class="card-body">
                            <us-crop-image [getOnlyCameraInput]="useWebcam" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
                        </div>
                    </div>

                    <!-- <span class="result" *ngIf="data1.image">
                        <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
                    </span> -->
                </div>

                <div *ngIf="useFileUpload">
                    <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>

                    <div class="card">
                        <div class="card-body">
                            <us-crop-image [getOnlyFileInput]="useFileUpload" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
                        </div>
                    </div>

                    <!-- <span class="result" *ngIf="data1.image">
                        <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
                    </span> -->
                </div>
                <!-- ////////////////////////////////////end of cropping seen/////////////////////////// -->

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <us-icon-button [isDisabled]="!data1.image" [iconClass]="'icon-done'" type="submit" [labelText]="'ADMIN.Save' | translate "
            (click)="saveEditedPic();d('Cross click')"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate " (click)="d('Cross click')"></us-icon-button>
    </div>
</ng-template>