label {
    margin-bottom: .2rem;
}

.btn {-moz-user-select: none;}
.form-group {
    margin-bottom: .5rem;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.container {
    min-height: 100vh;
}

//link style
.btn-link {
    font-weight: $font-weight-bold;
    color: $exceline-linkcolor;
}

.btn-link:not([href]):not([tabindex]) {
    color: $exceline-linkcolor;
    text-decoration: $link-decoration;
    @include hover-focus {
        color: darken($exceline-linkcolor, 5%);
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        outline: 0;
    }
}

// // validation Popover 
.exce-validate {
    background-color: theme-color("danger");
    border: $popover-border-width solid theme-color("danger");
    color: #fff; // Popover directions
    &.exce-validate-top {
        margin-bottom: $popover-arrow-width;
        .arrow {
            bottom: 0;
        }
        .arrow::before,
        .arrow::after {
            border-bottom-width: 0;
        }
        .arrow::before {
            border-top-color: theme-color("danger");
            border-width: ($popover-arrow-outer-width - 1px);
        }
        .arrow::after {
            bottom: -($popover-arrow-outer-width - 1);
            margin-left: -($popover-arrow-outer-width - 5);
            border-top-color: theme-color("danger");
        }
    }
    &.exce-validate-right {
        margin-left: $popover-arrow-width;
        .arrow {
            left: 0;
        }
        .arrow::before,
        .arrow::after {
            margin-top: -($popover-arrow-outer-width - 1);
            border-left-width: 0;
        }
        .arrow::before {
            left: -$popover-arrow-outer-width;
            border-right-color: theme-color("danger");
        }
        .arrow::after {
            left: -($popover-arrow-outer-width - 1);
            border-right-color: theme-color("danger");
        }
    }
    &.exce-validate-bottom {
        margin-top: $popover-arrow-width;
        .arrow {
            top: 0;
        }
        .arrow::before,
        .arrow::after {
            margin-left: -($popover-arrow-width - 3);
            border-top-width: 0;
        }
        .arrow::before {
            top: -$popover-arrow-outer-width;
            border-bottom-color: theme-color("danger");
            
        }
        .arrow::after {
            top: -($popover-arrow-outer-width - 1);
            border-bottom-color: theme-color("danger");
        }
    }
    &.exce-validate-left {
        margin-right: $popover-arrow-width;
        .arrow {
            right: 0;
        }
        .arrow::before,
        .arrow::after {
            margin-top: -($popover-arrow-outer-width - 3);
            border-right-width: 0;
        }
        .arrow::before {
            right: -$popover-arrow-outer-width;
            border-left-color: theme-color("danger");
        }
        .arrow::after {
            right: -($popover-arrow-outer-width - 1);
            border-left-color: theme-color("danger");
        }
    }
}

.exce-validate-content {
    padding: 5px;
    color: #fff;
    white-space: nowrap;
}

//checkbox and radio button border
.custom-control-indicator {
    border: $input-btn-border-width solid $input-border-color;
}