$icon-gift: "\e949";
$icon-help: "\e948";
$icon-caret-left: "\e947";
$icon-report-aggregate: "\e946";
$icon-report-ungroup-clauses: "\e942";
$icon-report-group-selected-clauses: "\e943";
$icon-move-selected-up: "\e944";
$icon-calendar-member-group: "\e945";
$icon-caret-up: "\e941";
$icon-reload: "\e940";
$icon-change-price: "\e93f";
$icon-download: "\e93e";
$icon-generate: "\e93d";
$icon-report-edit-query: "\e93a";
$icon-report-edit-sql-query: "\e93b";
$icon-report-view: "\e93c";
$icon-credit-note: "\e939";
$icon-import: "\e938";
$icon-thumbs-up: "\e937";
$icon-thumbs-down: "\e936";
$icon-undo: "\e935";
$icon-copy: "\e934";
$icon-calendar-changed: "\e933";
$icon-location: "\e932";
$icon-user: "\e931";
$icon-list: "\e930";
$icon-calendar-today: "\e929";
$icon-calendar-month: "\e92a";
$icon-calendar-day: "\e92b";
$icon-calendar-week: "\e92c";
$icon-calendar-nextrange: "\e92d";
$icon-calendar-backrange: "\e92e";
$icon-calendar-timeline: "\e92f";
$icon-upload: "\e928";
$icon-move-up: "\e927";
$icon-move-down: "\e926";
$icon-caret-down: "\e924";
$icon-caret-right: "\e925";
$icon-count: "\e923";
$icon-pdf: "\e922";
$icon-shop-generate-confirm: "\e921";
$icon-shop-return: "\e91b";
$icon-shop-sales-history: "\e91c";
$icon-shop-daily-settlement: "\e91d";
$icon-shop-cash-withdrawal: "\e91e";
$icon-shop-cash-customer: "\e91f";
$icon-shop-pay: "\e920";
$icon-ignore: "\e91a";
$icon-merge: "\e914";
$icon-move-orders: "\e915";
$icon-update: "\e916";
$icon-resign: "\e917";
$icon-freeze: "\e918";
$icon-renew: "\e919";
$icon-sms: "\e90f";
$icon-checkout: "\e912";
$icon-invoice: "\e913";
$icon-contract: "\e90a";
$icon-back: "\e90d";
$icon-next: "\e90e";
$icon-sort-descending: "\e902";
$icon-sort-ascending: "\e905";
$icon-notification: "\e90b";
$icon-visit: "\e90c";
$icon-done: "\e911";
$icon-print: "\e903";
$icon-edit: "\e906";
$icon-detail: "\e907";
$icon-cancel: "\e908";
$icon-calendar: "\e904";
$icon-add: "\e909";
$icon-close: "\e900";
$icon-search: "\e910";
$icon-home: "\e901";


$icomoon-font-path: "assets/fonts" !default;


@font-face {
  font-family: 'excicon';
  src:  url('#{$icomoon-font-path}/excicon.eot?5txh06');
  src:  url('#{$icomoon-font-path}/excicon.eot?5txh06#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/excicon.ttf?5txh06') format('truetype'),
    url('#{$icomoon-font-path}/excicon.woff?5txh06') format('woff'),
    url('#{$icomoon-font-path}/excicon.svg?5txh06#excicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'excicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-gift {
  &:before {
    content: $icon-gift; 
  }
}
.icon-help {
  &:before {
    content: unicode($icon-help); 
  }
}
.icon-caret-left {
  &:before {
    content: unicode($icon-caret-left); 
  }
}
.icon-report-aggregate {
  &:before {
    content: unicode($icon-report-aggregate); 
  }
}
.icon-report-ungroup-clauses {
  &:before {
    content: unicode($icon-report-ungroup-clauses); 
  }
}
.icon-report-group-selected-clauses {
  &:before {
    content: unicode($icon-report-group-selected-clauses); 
  }
}
.icon-move-selected-up {
  &:before {
    content: unicode($icon-move-selected-up); 
  }
}
.icon-calendar-member-group {
  &:before {
    content: unicode($icon-calendar-member-group); 
  }
}
.icon-caret-up {
  &:before {
    content: unicode($icon-caret-up); 
  }
}
.icon-reload {
  &:before {
    content: unicode($icon-reload); 
  }
}
.icon-change-price {
  &:before {
    content: unicode($icon-change-price); 
  }
}
.icon-download {
  &:before {
    content: unicode($icon-download); 
  }
}
.icon-generate {
  &:before {
    content: unicode($icon-generate); 
  }
}
.icon-report-edit-query {
  &:before {
    content: unicode($icon-report-edit-query); 
  }
}
.icon-report-edit-sql-query {
  &:before {
    content: unicode($icon-report-edit-sql-query); 
  }
}
.icon-report-view {
  &:before {
    content: unicode($icon-report-view); 
  }
}
.icon-credit-note {
  &:before {
    content: $icon-credit-note; 
  }
}
.icon-import {
  &:before {
    content: $icon-import; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down; 
  }
}
.icon-undo {
  &:before {
    content: $icon-undo;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-calendar-changed {
  &:before {
    content: $icon-calendar-changed;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-calendar-today {
  &:before {
    content: $icon-calendar-today;
  }
}
.icon-calendar-month {
  &:before {
    content: $icon-calendar-month;
  }
}
.icon-calendar-day {
  &:before {
    content: $icon-calendar-day;
  }
}
.icon-calendar-week {
  &:before {
    content: $icon-calendar-week;
  }
}
.icon-calendar-nextrange {
  &:before {
    content: $icon-calendar-nextrange;
  }
}
.icon-calendar-backrange {
  &:before {
    content: $icon-calendar-backrange;
  }
}
.icon-calendar-timeline {
  &:before {
    content: $icon-calendar-timeline;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-move-down {
  &:before {
    content: $icon-move-down;
  }
}
.icon-move-up {
  &:before {
    content: $icon-move-up;
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}
.icon-caret-right {
  &:before {
    content: $icon-caret-right;
  }
}
.icon-count {
  &:before {
    content: $icon-count;
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf;
  }
}
.icon-shop-generate-confirm {
  &:before {
    content: $icon-shop-generate-confirm;
  }
}
.icon-shop-return {
  &:before {
    content: $icon-shop-return;
  }
}
.icon-shop-sales-history {
  &:before {
    content: $icon-shop-sales-history;
  }
}
.icon-shop-daily-settlement {
  &:before {
    content: $icon-shop-daily-settlement;
  }
}
.icon-shop-cash-withdrawal {
  &:before {
    content: $icon-shop-cash-withdrawal;
  }
}
.icon-shop-cash-customer {
  &:before {
    content: $icon-shop-cash-customer;
  }
}
.icon-shop-pay {
  &:before {
    content: $icon-shop-pay;
  }
}
.icon-ignore {
  &:before {
    content: $icon-ignore;
  }
}
.icon-merge {
  &:before {
    content: $icon-merge;
  }
}
.icon-move-orders {
  &:before {
    content: $icon-move-orders;
  }
}
.icon-update {
  &:before {
    content: $icon-update;
  }
}
.icon-resign {
  &:before {
    content: $icon-resign;
  }
}
.icon-freeze {
  &:before {
    content: $icon-freeze;
  }
}
.icon-renew {
  &:before {
    content: $icon-renew;
  }
}
.icon-sms {
  &:before {
    content: $icon-sms;
  }
}
.icon-checkout {
  &:before {
    content: $icon-checkout;
  }
}
.icon-invoice {
  &:before {
    content: $icon-invoice;
  }
}
.icon-contract {
  &:before {
    content: $icon-contract;
  }
}
.icon-back {
  &:before {
    content: $icon-back;
  }
}
.icon-next {
  &:before {
    content: $icon-next;
  }
}
.icon-sort-descending {
  &:before {
    content: $icon-sort-descending;
  }
}
.icon-sort-ascending {
  &:before {
    content: $icon-sort-ascending;
  }
}
.icon-notification {
  &:before {
    content: $icon-notification;
  }
}
.icon-visit {
  &:before {
    content: $icon-visit;
  }
}
.icon-done {
  &:before {
    content: $icon-done;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-detail {
  &:before {
    content: $icon-detail;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}

