.us-tp {
    line-height: 1.1;
    display: inline-block;
    position: relative;
   
    .tp-selector {
        margin-top: 2px;
        margin-left: -1px;
        width: 250px;
        position: absolute;
        background-color: $input-bg;
        padding: 5px;
        border: $input-btn-border-width solid $input-border-color;
        z-index: 100;
        animation: selectorfadein 0.1s;
        &:focus {
            outline: none;
        }
        .tp-list {
            overflow: auto;
            max-height: 200px;
            @include list-unstyled;
            margin: 0px;
            .tp-item {
                display: block;
                width: 100%;
                padding: 0.3rem 0.5rem;
                clear: both;
                font-weight: $font-weight-normal;
                color: $dropdown-link-color;
                text-align: inherit;
                white-space: nowrap;
                border: 0;
                &:hover {
                    color: #fff;
                    background-color: lighten($brand-primary, 20%)
                }
                &.active {
                    color: $brand-primary;
                    background-color: lighten($brand-primary, 40%)
                }
            }
        }
    }
    .tp-selectorarrow {
        margin-top: 12px;
        padding: 0;
        &:after,
        &:before {
            bottom: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
        }
        &:after {
            border-color: rgba(250, 250, 250, 0);
            border-bottom-color: $input-bg;
            border-width: 10px;
            margin-left: 10px;
        }
        &:before {
            border-color: rgba(204, 204, 204, 0);
            border-bottom-color: $input-border-color;
            border-width: 11px;
            margin-left: 9px;
        }
        &:focus:before {
            border-bottom-color: $input-border-color;
        }
    }
    .tp-selectorarrowleft {
        &:after,
        &:before {
            left: 24px;
        }
    }
    .tp-btn{
        padding: 0.165rem 0.3rem;
    }
   svg{display: block;}
}