.ui-state-default {
    background:$white;
}
.ui-treetable {
    position: relative;
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        background-color: $body-bg;
        background-color: $white;
        color: $black;
    }
    // .ui-treetable-header,
    // .ui-treetable-footer {
    //     text-align: center;
    //     padding: $table-cell-padding-sm;
    // }
    .ui-treetable-header {
        border-bottom: 0 none;
    }
    th,
    td {
        padding: $table-cell-padding-sm;
        vertical-align: middle;
        border-top: $table-border-width solid $table-border-color;
        overflow: hidden;
        white-space: nowrap;
        color: $black;
        cursor: pointer;

    }
    thead th {
      color: $white;
      background-color: $brand-primary;
      border-color: $brand-primary;
      border-bottom: 0 none;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      width: 100%;
  }
    .ui-treetable-footer {
        border-top: 0 none;
    }
    tbody tr {
        @include hover {
            background-color: $table-hover-bg;
        }
    }
    .ui-treetable-toggler {
        text-decoration: none;
        color: #fff;
    }
    .ui-treetable-row {
        color: $white;
        background-color: lighten($brand-primary, 10%);
        @include hover {
            background-color: darken($brand-primary, 15%);
        }
        .ui-state-highlight {
            border: 0 none;
        }

    }
    .ui-treetable-checkbox {
        margin-right: .5em;
    }
    .ui-treetable-checkbox .ui-chkbox-icon {
        margin-left: 1px;
    }

    .ui-treetable-row {
        display: table-row;
        border-bottom: 0 transparent;
    }
    td.ui-treetable-child-table-container {
        padding: 0;
        border: 0 none;
        .ui-treetable-row td {
            background:$white;
        }
    }

    .ui-treetable-indent {
        width: 1em;
        height: 1em;
        float: left;
    }

    .ui-column-resizer {
        display: block;
        position: absolute !important;
        top: 0;
        right: 0;
        margin: 0;
        width: .5em;
        height: 100%;
        padding: 0px;
        cursor: col-resize;
        border: 1px solid transparent;
    }
    .ui-column-resizer-helper {
        width: 1px;
        position: absolute;
        z-index: 10;
        display: none;
    }

}

.ui-treetable-resizable {
    padding-bottom: 1px; //fix for webkit overlow
    overflow: auto;
    & thead th,
    & tbody td,
    & tfoot td {
        white-space: nowrap;
    }
    th.ui-resizable-column {
        background-clip: padding-box;
        position: relative;
    }
}


.ui-chkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: .25em;
}

.ui-chkbox .ui-chkbox-box {
    width: 1.125em;
    height: 1.125em;
    line-height: 1.125em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}

.ui-chkbox .ui-chkbox-icon {
    display: block;
}


// .ui-state-default {
//     border: $stateDefaultBorderWidth solid $stateDefaultBorderColor;
//     background: $stateDefaultBgColor;
//     color: $stateDefaultTextColor;

//     a {
//         color: $stateDefaultTextColor ;
//     }
// }
