
  <div class="d-flex px-1">
    <div class="input-group">
      <label class="mr-2">{{'ECONOMY.Month' | translate}}</label>
      <select class="custom-select col-md-2 mr-2 cursor-hand" (change)="changeMemberFeeMonth($event.target.value)">
      <option value="" disabled>{{'ECONOMY.Select' | translate}}</option>
      <option *ngFor="let month of months" value="{{month.Id}}" >{{month.Name | translate}}</option>
      </select>
      <button class="btn btn-primary cursor-hand" (click) ="generateMemberFeeEvent()">{{ 'ECONOMY.Generate' | translate }}</button>
    </div>
  </div>


<div class="d-flex px-1 mt-1">
  <us-data-table id="" [items]="branches" [pagination]="false"  (rowSelect)="rowsSelected($event)" [selectColumn]="true" >
    <data-table-column [property]="'BranchName'" header="{{ 'ECONOMY.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>
</div>
