%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host h5 {
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1.5;
}

:host/deep/.scroll-content {
    height: calc(100vh - 206px);
    overflow: auto;
}

:host/deep/.position-rel {
    position: relative;
    .order-btn-alignment {
        position: absolute;
        right: 3px;
        top: -35px;
    }
}

:host .col-exc-width {
    width: 306px;
    min-width: 306px;
}

:host/deep/.tab-list-table {
    .table-default {
        height: 732px;
        @extend %table-header-fixed-scroller;
    }
}

::ng-deep .item-price-table {
    height: 280px;
    @extend %table-header-fixed-scroller;
}

.monthly-item-price-table {
    ::ng-deep .data-table {
        height: 280px;
        @extend %table-header-fixed-scroller;
    }
}
::ng-deep .group-mem-select-table{
    height: 280px;
    @extend %table-header-fixed-scroller;
}

.sel-cont-detail-condition-table {
    ::ng-deep .data-table {
       height: 280px;
       @extend %table-header-fixed-scroller;
   }
}
::ng-deep .booking-session-table{
    height: calc(100vh - 206px);
    @extend %table-header-fixed-scroller;
}

.grid {
  height: 550px;
}

.testFadeIn {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

.testFadeOut {
  opacity: 0;
  transition: 0.3s;
  cursor: none;
}
