<div class="modal-header">

  <span class="modal-title">
    <!-- <span>{{'MEMBERSHIP.NotificationDetail' | translate}}</span> -->
    <span [hidden]="isNotificationDetail">{{ 'NOTIFICATION.DetailView' | translate }}</span>
    <span [hidden]="!isNotificationDetail">{{ 'MEMBERSHIP.NotificationDetail' | translate }}</span>
  </span>

  <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
    <span aria-hidden="true" class="icon-close"></span>
  </button>

</div>

<div class="modal-body">
  <div class="card">
    <div class="card-header p-2">
      <div class="d-flex justify-content-end">
        <div class="mr-auto d-flex flex-row">
          <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.DoneC' | translate" (click)="updateNotificationStatus('DONE')"
            *ngIf="((rowItem.StatusId!=3) && (rowItem.StatusId!=4))"></us-icon-button>
          <us-icon-button [iconClass]="'icon-ignore'" [labelText]="'MEMBERSHIP.Ignore' | translate" (click)="updateNotificationStatus('IGNORE')"
            *ngIf="((rowItem.StatusId!=3) && (rowItem.StatusId!=4))"></us-icon-button>
        </div>
        <div class="d-flex flex-row align-items-center">
          <span class="mr-2" title="{{'MEMBERSHIP.Message' |translate}}'" *ngIf="(rowItem.Type=='Messages')">
            <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <path class="fill-primary" d="M15.8,8.3h6.3c1,0,1.9,0.9,1.9,1.9v6.5c0,1-0.9,1.9-1.9,1.9h-3.7v2.8l-3.7-2.9H11c-1,0-1.9-0.9-1.9-1.9v-0.9l0.4-0.3H13
                   c1.5,0,2.8-1.2,2.8-2.8V8.3z M1.9,4.3H13c1,0,1.9,0.9,1.9,1.9v6.5c0,1-0.9,1.9-1.9,1.9H9.3l-3.7,2.8v-2.8H1.9c-1,0-1.9-0.9-1.9-1.9
                   V6.1C0,5,0.9,4.3,1.9,4.3z" />
            </svg>
          </span>
          <span class="mr-2" title="{{'MEMBERSHIP.Warning' |translate}}'" *ngIf="(rowItem.Type=='Warning')">
            <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <path class="fill-warning" d="M23.9,21.1L12.8,1.6c-0.2-0.3-0.4-0.4-0.8-0.4c-0.3,0-0.6,0.2-0.8,0.4L0.1,21.1C0,21.4,0,21.7,0.1,22
                   c0.2,0.3,0.4,0.4,0.7,0.4h22.3c0.3,0,0.6-0.2,0.7-0.4C24,21.7,24,21.4,23.9,21.1 M13.5,19.9h-3v-2.5h3V19.9z M13.5,15.5h-3V8h3V15.5
                   z" />
            </svg>
          </span>
          <span class="mr-2" title="{{'MEMBERSHIP.ToDo' |translate}}'" *ngIf="(rowItem.Type=='TODO')">
            <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <path class="fill-primary" d="M19.5,6L8.2,14.4L5,10l-2,1.5l3.2,4.4l0,0l1.5,2L21,8L19.5,6z M0,0h24v24H0V0z" />
            </svg>
          </span>
          <span class="mr-2" title="{{'MEMBERSHIP.Errors' |translate}}'" *ngIf="(rowItem.Type=='Errors')">
            <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <path class="fill-danger" d="M7.9136891,5.9999132 C7.4233689,6.0001416 6.9335184,6.1876454 6.5603881,6.5617371 C5.8141274,7.3060751 5.8122506,8.5192633 6.5603881,9.267355 L9.3448114,12.051802 L6.7178845,14.680605 C5.9678702,15.428789 5.9716239,16.640055 6.7178845,17.386314 C7.4641452,18.132576 8.6754341,18.13633 9.4254484,17.386314 L12.052375,14.759342 L14.576166,17.283133 C15.324303,18.031317 16.537445,18.029394 17.28183,17.283133 C18.029989,16.536873 18.031843,15.323776 17.283707,14.575592 L14.759916,12.051802 L17.439348,9.3723679 C18.187487,8.6242762 18.18561,7.4092569 17.441225,6.6629963 C16.694965,5.9185667 15.479923,5.9166441 14.731785,6.6666584 L12.052375,9.3442602 L9.2698059,6.5617371 C8.8947983,6.1867299 8.4040089,5.9996839 7.9136891,5.9999132 z M12,0 C18.627417,0 24,5.3725829 24,12 C24,18.627417 18.627417,24 12,24 C5.3725829,24 0,18.627417 0,12 C0,5.3725829 5.3725829,0 12,0 z"
              />
            </svg>
          </span>

          <span class="badge badge-pill badge-success p-2" *ngIf="(rowItem.Severity=='Minor')">{{'MEMBERSHIP.Minor' | translate}}</span>
          <span class="badge badge-pill badge-warning p-2" *ngIf="(rowItem.Severity=='Moderate')">{{'MEMBERSHIP.Moderate' | translate}}</span>
          <span class="badge badge-pill badge-danger p-2" *ngIf="(rowItem.Severity=='Critical')">{{'MEMBERSHIP.Critical' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="card-body p-2">
      <h4 class="card-title">{{rowItem.Title}}</h4>
      <hr class="hr-dashed m-0 mb-1" />
      <textarea type="text" rows="16" triggers="manual" container="body" placement="right" class="form-control" id="OtherResource"
        [value]="rowItem.Description">
                    </textarea>
    </div>
  </div>
</div>