<div class="d-flex justify-content-end mx-1">
  <div class="ml-auto">
    <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.NewSchedule' | translate " (click)="openNewJobScheduleView(newJobScheduleView)"></us-icon-button>
  </div>
</div>
<div class="d-flex mt-1 mx-1">
  <us-data-table [pagination]="false" [items]="jobScheduleItems" [itemCount]="jobScheduleItems.length" (rowDoubleClick)="editJobScheduleItem($event.row.item, newJobScheduleView)">

    <data-table-column [property]="''" header="{{'ADMIN.JobCategory' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ExcelineJob.JobCategoryName}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'EmpName'" header="{{'ADMIN.Employee' | translate}}">
    </data-table-column>

    <data-table-column [property]="'RoleName'" header="{{'ADMIN.Role' | translate}}">
    </data-table-column>

    <data-table-column [property]="'Day'" header="{{'ADMIN.Day' | translate}}">
    </data-table-column>

    <data-table-column [property]="'StartTime'" header="{{'ADMIN.From' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartTime | date:'hh:mm'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'EndTime'" header="{{'ADMIN.To' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndTime | date:'hh:mm'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'StartDate'" header="{{'ADMIN.StartDate' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'EndDate'" header="{{'ADMIN.EndDate' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Edit' | translate}}" (click)="editJobScheduleItem(item, newJobScheduleView)">
          <span class="icon-edit"></span>
        </button>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' | translate}}" (click)="DeleteScheduleItem(item)">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table>
</div>

<!-- ************************************** New Job Schedule View ******************************************** -->

<ng-template #newJobScheduleView let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.AddJobScheduleC' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeJobScheduleModal()">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <form [formGroup]="JobScheduleForm">
    <div class="modal-body ">

      <div class="scroll-content">
        <div class="d-flex">

          <div class="card" style="width: 200px">
            <div class="card-header py-1">
              <strong>{{'ADMIN.JobCategories' | translate}}</strong>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action py-1 cursor-hand" *ngFor="let jobCat of jobCategories" (click)="getJobCatChange(jobCat)">{{jobCat.Name}}</li>
            </ul>
          </div>

          <div class="col">

            <h5>{{jobCatTitle}}</h5>

            <div class="d-flex no-gutters">
              <div class="col-3 col-min-width mr-2">

                <div class="form-group">
                  <label>{{ 'ADMIN.Text' | translate }}</label>
                  <input class="form-control " formControlName="JobCategoryName" type="text">
                </div>

                <div class="form-group">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="radio" [checked]="(IsEmp == 'emp') ? true : false" value="emp" (change)="getRadioBtnChange($event)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'ADMIN.Employee' | translate }}</span>
                  </label>

                  <div class="input-group">
                    <input class="form-control" formControlName="EmpName" type="text" us-error [errorMsg]="formErrors.EmpName" [displayError]="myFormSubmited && !JobScheduleForm.get('EmpName').valid"
                      placement="bottom" readonly>

                    <button class="btn btn-primary" type="button" (click)="employeeSelectionModal(employeeSelectionTemplate)" [disabled]="!empBtn">{{ 'ADMIN.Select' | translate }}</button>
                  </div>
                </div>

                <div class="form-group" *ngIf="isRoleVisible == true">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="radio" [checked]="(IsEmp == 'role') ? true : false" value="role" (change)="getRadioBtnChange($event)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'COMMON.RoleC' | translate }}</span>
                  </label>

                  <div class="input-group">
                    <input class="form-control" type="text" formControlName="RoleName" readonly>

                    <button class="btn btn-primary" type="button" (click)="getUSPRoles(rolesSelectionTemplate)" [disabled]="!roleBtn">{{ 'ADMIN.Select' | translate }}</button>
                  </div>
                </div>

                <div class="form-group">
                  <label>{{ 'ADMIN.OccurenceC' | translate }}</label>
                  <select class="custom-select w-100" formControlName="Occurrence" (change)="occurenceChange($event.target.value)">
                    <option value="2">ALL</option>
                    <option value="1">ODD</option>
                    <option value="0">EVEN</option>
                  </select>
                </div>

              </div>

              <div class="col-3 col-min-width ">

                <div class="form-group">
                  <label>{{ 'ADMIN.Day' | translate }}</label>
                  <select class="custom-select w-100" formControlName="Day" (change)="dayChange($event.target.value)" us-error [errorMsg]="formErrors.Day"
                    [displayError]="myFormSubmited && !JobScheduleForm.get('Day').valid">
                    <option value="Sunday">SUNDAY</option>
                    <option value="Monday">MONDAY</option>
                    <option value="Tuesday">TUESDAY</option>
                    <option value="Wednesday">WEDNESDAY</option>
                    <option value="Thursday">THURSDAY</option>
                    <option value="Friday">FRIDAY</option>
                    <option value="Saturday">SATURDAY</option>
                  </select>
                </div>

                <div class="d-flex no-gutters">

                  <div class="form-group col mr-1">
                    <label>{{ 'ADMIN.FromDateC' | translate }}</label>
                    <us-date-picker class="w-100" formControlName="StartDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
                  </div>

                  <div class="form-group col ml-1">
                    <label>{{ 'ADMIN.ToDateC' | translate }}</label>
                    <us-date-picker class="w-100" formControlName="EndDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
                  </div>

                </div>

                <div class="d-flex no-gutters">

                  <div class="form-group col mr-1">
                    <label>{{ 'ADMIN.FromTime' | translate }}</label>
                    <us-time-picker formControlName="StartTime"></us-time-picker>
                  </div>

                  <div class="form-group col ml-1">
                    <label>{{ 'ADMIN.ToTime' | translate }}</label>
                    <us-time-picker formControlName="EndTime"></us-time-picker>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </form>

  <div class="modal-footer">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="saveJobSchedule(JobScheduleForm.value)">
    </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c(); closeJobScheduleModal()"></us-icon-button>
  </div>

</ng-template>

<!-- ******************************************* Employee Selection ************************************* -->

<ng-template #employeeSelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.SelectEmployee' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <exce-entityselection (searchEvent)="searchEmployee($event)" (selectedItem)="selectedEmployee($event)" (selectedItems)="selectedRowItems($event)"
      [multipleSelect]="false" [itemList]="items" [auotocompleteItems]="auotocompleteItemsForEmpSelection" [columns]="columns"
      [itemcount]="itemCount" [defaultRole]="defaultRole" [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination"
      [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isDisabledRole]="false" [isAddBtnVisible]="false"
      [isBasicInforVisible]="false" (closeViewEvent)="closeEmployeeSelectionView()">
    </exce-entityselection>

  </div>
</ng-template>

<!-- ******************************************* Role Selection ***************************************** -->

<ng-template #rolesSelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'COMMON.RoleSelectionC' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <us-data-table [items]="uspRoles" [itemCount]="uspRoles.length" (rowDoubleClick)="getSelectedRole($event)">

      <data-table-column [property]="'RoleName'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>

    </us-data-table>
  </div>
  <div class="mb-2 my-2">
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c()"></us-icon-button>
  </div>

</ng-template>