<div class="mainContainer">
    <div class="mainHeader">
      <div class="header">
      <div *ngIf="!hideRoleSelect" class="ml-2">
          {{'MEMBERSHIP.EmRoles' | translate}}:
        </div>
        <div *ngIf="!hideRoleSelect" class="ml-2">
          <select (change)="roleChange($event.target.value)" class="custom-select w-100 cursor-hand">
            <option value="">
              {{'MEMBERSHIP.All' | translate}}
            </option>
            <option *ngFor="let role of roles" value={{role.RoleId}}>
              {{role.Name}}
            </option>
          </select>
        </div>
        <div *ngIf="!hideStatusSelect">
          <div class="ml-2">
            {{'MEMBERSHIP.Status' | translate}}:
          </div>
          <div class="ml-2">
            <select (change)="statusChange($event.target.value)" class="custom-select w-100 cursor-hand">
              <option value="-1">
                {{'MEMBERSHIP.All' | translate}}
              </option>
              <option *ngFor="let status of statuses" value={{status.StatusID}}>
                {{status.StatusName}}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="ml-2">
          {{'MEMBERSHIP.Status' | translate}}:
        </div>
        <div class="ml-2">
          <select (change)="statusChange($event.target.value)" class="custom-select w-100 cursor-hand">
            <option value="-1">
              {{'MEMBERSHIP.All' | translate}}
            </option>
            <option *ngFor="let status of statuses" value={{status.StatusID}}>
              {{status.StatusName}}
            </option>
          </select>
        </div> -->
        <div *ngIf="!hideBranchSelect">
          <div class="ml-2">
            {{'MEMBERSHIP.Branch' | translate}}:
          </div>
          <div class="mr-auto ml-2">
            <select (change)="branchChange($event.target.value)" class="custom-select w-100 cursor-hand">
              <option value="-1">
                {{'MEMBERSHIP.All' | translate}}
              </option>
              <option *ngFor="let branch of userBranches" value={{branch.BranchId}}>
                {{branch.BranchName}}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="ml-2">
          {{'MEMBERSHIP.Branch' | translate}}:
        </div>
        <div class="mr-auto ml-2">
          <select (change)="branchChange($event.target.value)" class="custom-select w-100 cursor-hand">
            <option value="-1">
              {{'MEMBERSHIP.All' | translate}}
            </option>
            <option *ngFor="let branch of userBranches" value={{branch.BranchId}}>
              {{branch.BranchName}}
            </option>
          </select>
        </div> -->
        <div *ngIf="newMemberVisibe">
          <us-icon-button [iconClass]="'icon-add'" (click)="newMemberModal()" [labelText]="'MEMBERSHIP.AddNewCustomer' | translate "></us-icon-button>
        </div>
      </div>
    </div>
      <div class="body">
        <div class="{{allowMultipleSelect ? 'grid-containerS' : 'grid-containerL'}}">
          <ag-grid-angular
          class="ag-theme-balham grid"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [enableSorting]="true"
          [enableColResize]="true"
          [enableFilter]="true"
          [floatingFilter]="true"

          [suppressCellSelection] ="true"
          [suppressNoRowsOverlay]="true"
          [suppressRowClickSelection]="true"

          [rowSelection]="single"

          (gridReady)="onGridReady($event)"
          (rowDoubleClicked)="memberSelectedDblClickCalled($event)"
          (filterChanged)="filterChanged($event)"
          (rowClicked)="rowSelected($event)">
          </ag-grid-angular>
        </div>
        <div class="memberContainer" *ngIf="allowMultipleSelect">
            <ag-grid-angular
            class="ag-theme-balham memberGrid"
            [rowData]="selectedMembers"
            [columnDefs]="memberColumns"
            [enableSorting]="true"
            [enableColResize]="true"
            [enableFilter]="true"
            [floatingFilter]="true"

            [suppressCellSelection] ="true"
            [suppressNoRowsOverlay]="true"
            [suppressRowClickSelection]="true"

            [rowSelection]="single"

            (gridReady)="onGridReady2($event)"
            (cellClicked)="selectedMemberRowSelect($event)">
            </ag-grid-angular>
          <!-- <table>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th></th>
            </tr>
            <tr *ngFor="let member of selectedMembers">
              <td>{{member.FirstName}}</td>
              <td>{{member.LastName}}</td>
              <td><button class="btn btn-danger btn-icon-min"><span class="icon-cancel"></span></button></td>
            </tr>
          </table> -->
        </div>
      </div>


  </div>

  <span class="d-flex flex-row mt-2">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'COMMON.Ok' | translate " (click)="okClose($event)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'"  [labelText]="'COMMON.Cancel' | translate " (click)="closeView()"></us-icon-button>

</span>
  <!-- user for hover over member -->
  <!-- <div #memberInfo class="popup">
    test
  </div> -->


