%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        cursor: pointer;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host /deep/ .scroll-tree {
  height: calc(100vh - 405px);
  overflow-y: auto;
  overflow-x: auto;
}

:host /deep/ .table-default {
    height: calc(100vh - 405px);
    @extend %table-header-fixed-scroller;
}

.branch-table, .sub-op-table{
  ::ng-deep .table-default{
    height: 200px;
    @extend %table-header-fixed-scroller;
  }
}
