<div class="d-block member-card-header p-1 clearfix">
    <div class="mc-pic d-flex justify-content-center align-items-center" [ngStyle]="isleftPanelCollapsed ? {'height': '32px', 'width': '32px','left': '0px'} : {}">
        <img src="assets/images/resource-card-avatar.svg" [ngStyle]="isleftPanelCollapsed ? {'height': '30px', 'width': '30px'} : {}">
    </div>

    <div class="float-left" style="height: 1.8rem;">
        <span class="mc-title" [ngStyle]="isleftPanelCollapsed ? {'margin-left': '36px'} : {}">{{ selectedMember?.ResId }} {{ selectedMember?.Name }}</span>
    </div>

    <div class="float-right d-flex justify-content-start">

    </div>
</div>

<div class="member-card">

    <div class="mc-left-pane align-self-stretch align-self-baseline" [ngStyle]="isleftPanelCollapsed ? {'max-width': '30px', 'min-width': '30px'} : {}">

        <span class="mc-binf-edit" *ngIf="!isleftPanelCollapsed">
            <button class="btn btn-primary btn-icon-min " (click)="updateResource()" *ngIf="!_editMode">
                <span class="icon-edit"></span>
            </button>
        </span>

        <strong class="basic-info-title" *ngIf="!isleftPanelCollapsed && !isEdit">{{'ADMIN.ResourceInformation' | translate}}</strong>

        <strong class="basic-info-title" *ngIf="isEdit">{{'ADMIN.EditInformationC' | translate}}</strong>

        <app-rc-basic-info *ngIf="!isleftPanelCollapsed"></app-rc-basic-info>

        <a class="p-1 btn-open-pannel cursor-hand" *ngIf="!_editMode" (click)="isleftPanelCollapsed = !isleftPanelCollapsed; _editMode = false"
            [ngStyle]="isleftPanelCollapsed ? {'right': '0px'} : {}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path class="fill-primary" d="M22.3,5.2c0-0.9-0.7-1.6-1.6-1.6H7.6C6.7,3.6,6,4.3,6,5.2s0.7,1.6,1.6,1.6h13.1C21.6,6.8,22.3,6.1,22.3,5.2z M6,18.8
             c0,0.9,0.7,1.6,1.6,1.6h13.1c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6h-13C6.7,17.2,6,17.9,6,18.8z M1.9,12c0,0.9,0.7,1.6,1.6,1.6
             h17.2c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6H3.5C2.6,10.4,1.9,11.1,1.9,12z" />
            </svg>
        </a>

    </div>

    <div class="off-canvas-panel-ani mc-right-pane align-self-stretch align-self-baseline" id="mc-rightpane">
        <div class="mc-header">
            <span class="ml-2">{{title}}</span>
        </div>

        <div class="p-1">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>