:host /deep/ .table-default {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 230px);
    width: 100%;
    margin-bottom: 0rem;
}

 :host /deep/ .table-default tbody {
    display: block;
    overflow-y: scroll;
    flex: 1 1 auto;
    cursor: pointer;
}

 :host /deep/ .table-default thead{
  display: table;
  width: 100%;
  table-layout: fixed
 }
 :host /deep/ .table-default tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
}

 :host /deep/ .table-default thead {
    width: calc( 100% - 1.3em);
}

.grid {
  height: calc(100vh - 230px);
  width: 100%;
}
