<ul *ngIf="oneStepOnly" class="nav nav-wizard">
  <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
    <span class="nav-link-wizard">
      <span class="wizard-num">{{step.number}}</span> {{step.title}}</span>
  </li>
</ul>

<ul *ngIf="!oneStepOnly" class="nav nav-wizard">
  <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
    <span class="nav-link-wizard">
      <span class="wizard-num">{{step.number}}</span> {{step.title}}</span>
  </li>
</ul>

<div class="nav-wizard-content">
  <ng-content></ng-content>
</div>
<div class="nav-wizard-footer">
  <us-icon-button *ngIf="_prevStepVisible" class="mr-2" [iconClass]="'icon-back'" [labelText]="'MEMBERSHIP.Back' | translate " (click)="previous()"
    [isDisabled]="!hasPrevStep || !activeStep.showPrev"></us-icon-button>
  <us-icon-button *ngIf="_nextStepVisible" class="mr-2" [iconClass]="'icon-next'" [labelText]="'MEMBERSHIP.Next' | translate " (click)="next()"
    [isDisabled]="!hasNextStep || !activeStep.showNext"></us-icon-button>
  <us-icon-button class="mr-2" [iconClass]="'icon-contract'" [labelText]="'MEMBERSHIP.ContractSave' | translate " (click)="openNewMemberContract()" *ngIf="isContractVisible"></us-icon-button>
  <us-icon-button class="mr-2" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate " (click)="complete()"
    [isDisabled]="!activeStep.isValid || !isSaveVisibale"></us-icon-button>
  <us-icon-button class="mr-2" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="cancel()"></us-icon-button>
</div>
