<form [formGroup]="searchForm">
  <div class="d-flex justify-content-start px-1 no-gutters">

    <div class="col-2 mr-2 ml-1">
      <label>{{'ECONOMY.SalePointID' | translate}}</label>
        <select class="custom-select col-md-3 cursor-hand">
          <option selected value="">All</option>
        </select>
    </div>
    <div class="col-4">
      <label>{{'ECONOMY.Date' | translate}}</label>
        <div class="input-group">

          <us-date-picker class="w-100" name="fromDate" #fromDate formControlName='startDate' [locale]="'ADMIN.Locale'| translate"
            >
          </us-date-picker>

          <span class="input-group-addon border-left-0">{{'ECONOMY.To' | translate}}</span>
          <us-date-picker class="w-100 mr-2" name="toDate" #toDate formControlName='endDate' [locale]="'ADMIN.Locale'| translate"
            >
          </us-date-picker>

          <button class="btn btn-primary cursor-hand " (click)="fetchledger()">{{ 'ECONOMY.View' | translate }}</button>
          <button class="btn btn-primary cursor-hand ml-1">{{ 'ECONOMY.Export' | translate }}</button>
        </div>
    </div>
  </div>


  <div class="d-flex px-1 mt-1">
    <us-data-table id="datalist" [items]="datalist" [pagination]="false" >
      <data-table-column [property]="'signature'" header="{{ 'ECONOMY.Signature' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'transDate'" header="{{ 'ECONOMY.TransDate' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'transTime'" header="{{ 'ECONOMY.TransTime' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'nr'" header="{{ 'ECONOMY.Nr' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'transAmntIn'" header="{{ 'ECONOMY.TransAmntIn' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'transAmntEx'" header="{{ 'ECONOMY.TransAmntEx' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'branchId'" header="{{ 'ECONOMY.BranchID' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'SalePointID'" header="{{ 'ECONOMY.SalePointID' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
    </us-data-table>
  </div>
</form>
