<div class="row">
  <div class="col-5">
    <form [formGroup]="scheduleForm">

        <div class="row no-gutters">
            <div class="col">
        <div class="form-group">
            <label>{{ 'CLASS.ClassTypeC' | translate }}</label>
            <div class="input-group">
              <input  formControlName="ClassType" type="text" class="form-control">
              <span class="input-group-btn">
                <button disabled class="btn btn-primary" type="button" (click)="openClassTypeSelection(entitySelectionModal)">{{ 'CLASS.Select' | translate }}</button>
              </span>
            </div>
            </div>
            </div>
            <div class="col mr-1">
                <div class="form-group">
                  <label>{{ 'CLASS.Day' | translate }}</label>
                  <select  disabled formControlName="DayOfTheWeek" class="form-control custom-select">
                      <option [ngValue]="day" *ngFor="let day of TheDays">{{'DAY.' + day | translate}}</option>
                    </select>
                </div>
              </div>
              </div>


  <div class="row no-gutters">
    <div class="col mr-1">
      <div class="form-group">
        <label>{{ 'CLASS.MaxNoBooking' | translate }}</label>
        <input *ngIf="!startDateDisable" formControlName="MaxNoOfBooking" type="text" class="form-control w-100">
        <input *ngIf="startDateDisable" disabled formControlName="MaxNoOfBooking" type="text" class="form-control w-100">
      </div>
    </div>

    <div class="col ml-1">
      <div class="form-group">
        <label>{{ 'CLASS.NoParticipants' | translate }}</label>
        <input disabled formControlName="NumberOfMembers" type="text" class="form-control w-100">
      </div>
    </div>
  </div>

      <div class="row no-gutters">
          <div class="col mr-1">
            <div class="form-group">
              <label>{{ 'CLASS.FromTimeC' | translate }}</label>
              <us-time-picker [disableButton]="startDateDisable" formControlName="StartTime" (timeChanged)="inputFieldChanged($event)" [config]="{'format' :'MM:mm', 'is24hourFormat':true}">
              </us-time-picker>
            </div>

          </div>
          <div class="col ml-1">
            <div class="form-group">
              <label>{{ 'CLASS.ToTimeC' | translate }}</label>
              <us-time-picker [disableButton]="startDateDisable" formControlName="EndTime" [config]="{'format' :'MM:mm', 'is24hourFormat':true}"> </us-time-picker>
            </div>
          </div>
        </div>


        <div class="row no-gutters" >
            <div class="col">
              <div class="form-group">
                <label>{{ 'CLASS.From' | translate }}</label>
                <us-date-picker  [options]="disableDatePicker" formControlName="StartDate" [locale]="'COMMON.Locale'| translate" (dateChanged)="fromDateChanged($event)"> </us-date-picker>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>{{ 'CLASS.To' | translate }}</label>
                <us-date-picker [options]="restrictToDateToSeasonEndDate" formControlName="EndDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
            </div>
          </div>

    </form>
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-between mb-1">
      <div>
        <label>{{ 'CLASS.Instructor' | translate }}</label>
      </div>
      <div>
        <button [disabled]="startDateDisable" class="btn btn-primary" (click)="openInstructorSelection(instructorModal)" type="button">{{ 'CLASS.Select' | translate }}</button>
      </div>
    </div>
    <div class="d-flex mb-1">
      <table class="table table-sm table-hover table-default">
        <thead class="thead-primary">
          <tr>
            <th>{{ 'CLASS.InstructorNameC' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedInstructors">
            <td>{{item.Name}}</td>
            <td>
              <button [disabled]="startDateDisable" (click)="removeInstructor(item)" class="btn btn-danger btn-icon-min" title="{{'CLASS.Delete' |translate}}">
                <span class="icon-cancel"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between mb-1">
      <div>
        <label>{{ 'CLASS.Location' | translate }}</label>
      </div>
      <div>
        <button [disabled]="startDateDisable" class="btn btn-primary " (click)="OpenLocationSelection(entitySelectionModal)" type="button">{{ 'CLASS.Select' | translate }}</button>
      </div>
    </div>
    <div class="d-flex mb-1 ">
      <table class="table table-sm table-hover table-default">
        <thead class="thead-primary">
          <tr>
            <th>{{ 'CLASS.LocationNameC' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedLocations">
            <td>{{item.Name}}</td>
            <td>
              <button [disabled]="startDateDisable" (click)="removeLocation(item)" class="btn btn-danger btn-icon-min" title="{{'CLASS.Delete' |translate}}">
                <span class="icon-cancel"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <us-icon-button [isDisabled]="startDateDisable" [iconClass]="'icon-done'" [labelText]="'CLASS.Save' |translate" (click)="saveClass()"></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'CLASS.Cancel' |translate" (click)="cancelUpdatingClass()"></us-icon-button>

</div>



<ng-template #entitySelectionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Member Section' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedItem($event)" (selectedItems)="selectMultipleItems($event)" [multipleSelect]="multipleSelect"
      [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount" [isDisabledRole]="true"
      [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="false" [isStatusVisible]="false"
      [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false" (closeViewEvent)="closeEntView()">

    </exce-entityselection>
  </div>
</ng-template>


<ng-template #instructorModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Member Section' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selecteItem($event)" (selectedItems)="selectMultipleItems($event)"
      [multipleSelect]="multipleSelect" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns"
      [itemcount]="itemCount" [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="false"
      [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false" (closeViewEvent)="closeEntView()">

    </exce-entityselection> -->
    <exce-memberlist [allowMultipleSelect]="true" [getType]="'INSTRUCTOR'" [hideRoleSelect]="true" [hideStatusSelect]="true"
    [hideBranchSelect]="true" [columnsToShow]="columnsToShow" (closeViewEvent)="closeEntView()" (membersSelected)="selectMultipleItems($event)">

    </exce-memberlist>
  </div>
</ng-template>

