%table-header-fixed-scroller {
  display: flex;
  flex-flow: column;
  width: 100%;
  tbody {
      display: block;
      overflow-y: scroll;
      overflow-x: hidden;
      flex: 1 1 auto;
  }
  thead,
  tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      cursor: pointer;
  }
  thead {
      width: calc( 100% - 1.3em);
  }
}

:host /deep/ .table-freeze {
  .table-default {
    height: calc(100vh - 220px);
    @extend %table-header-fixed-scroller;
  }
}

.freeze-inst-table {
  ::ng-deep .data-table{
    height: calc(100vh - 220px);
    @extend %table-header-fixed-scroller;
  }
}
