<div class="d-flex justify-content-start" >

  <select class="custom-select mr-2 col-md-2"  #branchSelect (change)="filterInput(branchSelect.value)">
    <option selected value="ALL">All</option>
    <option *ngFor="let branch of branches" value={{branch.Id}}>{{branch.BranchName}}</option>
  </select>
  </div>

  <div class="d-flex mt-1">
    <us-data-table id="" [pagination]="false" [items]="items" [itemCount]="itemCount" [rowTooltip]="rowTooltip">
      <data-table-column [property]="'RoleName'" header="{{ 'ADMIN.Roles' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
    </us-data-table>
  </div>

