%table-header-fixed-scroller {
  display: flex;
  flex-flow: column;
  width: 100%;
  tbody {
      display: block;
      overflow-y: scroll;
      overflow-x: hidden;
      flex: 1 1 auto;
  }
  thead,
  tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
  }
  thead {
      width: calc( 100% - 1.3em);
  }
}

:host /deep/ .table-freeze-new {
    height: calc(100vh - 436px);
    @extend %table-header-fixed-scroller;
}

.note {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.grid-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;

}
.grid {
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.button-bottom-dish {
  position: fixed;
  bottom: 1em;
  width: 100;
}

/* highlighted is set in styles.scss */
