<form [formGroup]="newFreezeForm" #newFreeze>
  <div class="d-flex no-gutters w-100">

    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.Category' | translate }}</label>
        <select class="custom-select w-100"  [formControl]="theDankestCategoryId" us-error
        [errorMsg]="formErrors.CategoryId" [displayError]="formSubmited && !newFreezeForm.get('CategoryId').valid">
          <option *ngFor="let fCat of freezCat" [ngValue]="fCat.Id">
            {{fCat.Name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>{{ 'COMMON.FromDate' | translate }}</label>
        <!-- <us-date-picker [placeholder]="phDate" style="width: 200px;" (dateChanged)="onFromDateChanged($event)" [disabled]="editType === 'EXTEND'" [formControl]="newFreezeForm.controls['FromDate']" [locale]="'COMMON.Locale'| translate"
          #fromDate us-error [errorMsg]="formErrors.FromDate" [displayError]="formSubmited && !newFreezeForm.get('FromDate').valid"> </us-date-picker> -->
          <us-date-picker [placeholder]="phDate" style="width: 200px;"  [disabled]="editType === 'EXTEND'" [formControl]="newFreezeForm.controls['FromDate']" [locale]="'COMMON.Locale'| translate"
          #fromDate us-error [errorMsg]="formErrors.FromDate" [displayError]="formSubmited && !newFreezeForm.get('FromDate').valid"> </us-date-picker>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FreezeMonths' | translate }}</label>
        <input class="form-control" placeholder="{{ 'MEMBERSHIP.ValMis' | translate }}"  type="number" min="0" [formControl]="newFreezeForm.controls['FreezeMonths']" us-error [errorMsg]="formErrors.FreezeMonths"
        [displayError]="formSubmited && !newFreezeForm.get('FreezeMonths').valid">
<!--    <input class="form-control" placeholder="{{ 'MEMBERSHIP.ValMis' | translate }}"  type="number" min="0" [formControl]="newFreezeForm.controls['FreezeMonths']" us-error [errorMsg]="formErrors.FreezeMonths"
        (change)="onFreezeMonthsChanged($event)" [displayError]="formSubmited && !newFreezeForm.get('FreezeMonths').valid"> -->
<!--    <input *ngIf="moveOrdersDisabled || isDisabled" placeholder="{{ 'MEMBERSHIP.PickFromDate' | translate }}" class="form-control " type="number" min="0" [formControl]="newFreezeForm.controls['FreezeMonths']" us-error [errorMsg]="formErrors.FreezeMonths"
        (change)="onFreezeMonthsChanged($event.target.value);setHighlight();" [displayError]="formSubmited && !newFreezeForm.get('FreezeMonths').valid">
        <input  *ngIf="!moveOrdersDisabled && !isDisabled" placeholder="{{ 'MEMBERSHIP.ValMis' | translate }}" class="form-control " type="number" min="0" [formControl]="newFreezeForm.controls['FreezeMonths']" us-error [errorMsg]="formErrors.FreezeMonths"
        (change)="onFreezeMonthsChanged($event.target.value);setHighlight();" [displayError]="formSubmited && !newFreezeForm.get('FreezeMonths').valid"> -->

      </div>
      <div class="form-group">
        <label>{{ 'COMMON.ToDate' | translate }}</label>
        <us-date-picker [placeholder]="phDate" style="width: 200px;" [formControl]="newFreezeForm.controls['ToDate']" [locale]="'COMMON.Locale'| translate" us-error id="ToDate" [errorMsg]="formErrors.ToDate"
          [displayError]="formSubmited && !newFreezeForm.get('ToDate').valid" [disabled]="true"> </us-date-picker>
      </div>
    </div>
    <div class="col-3 mr-2">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.ExtendContract' | translate }}</label>
        <div class="input-group">
          <label class="custom-control custom-radio">
            <input id="radio1" name="radio" type="radio" class="custom-control-input"
              us-error [errorMsg]="formErrors.IsExtended" [displayError]="formSubmited && !newFreezeForm.get('IsExtended').valid"
              [checked]="isExtendedVal" (change)="changeRadio($event)" [value]="'true'" [disabled]="isDisabled">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.Yes' | translate }}</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio1" name="radio" type="radio" class="custom-control-input"
              us-error [errorMsg]="formErrors.IsExtended" [displayError]="formSubmited && !newFreezeForm.get('IsExtended').valid"
              [checked]="!isExtendedVal" (change)="changeRadio($event)" [value]="'false'" [disabled]="isDisabled">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.crNo' | translate }}</span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.ContractEndDate' | translate }}</label>
        <us-date-picker style="width: 200px;" [formControl]="newFreezeForm.controls['ContractEndDate']" [locale]="'COMMON.Locale'| translate"
          us-error [errorMsg]="formErrors.ContractEndDate" [displayError]="formSubmited && !newFreezeForm.get('ContractEndDate').valid" [disabled]="'true'">
        </us-date-picker>
      </div>
      <div class="form-group mt-1">
        <label>{{ 'MEMBERSHIP.ShiftOrdersByMonths' | translate }}</label>
        <!-- <input *ngIf="moveOrdersDisabled || isDisabled" disabled placeholder="{{ 'MEMBERSHIP.PickFromDate' | translate }}" class="form-control" type="number"
        min="0" [max]="isExtendedVal?freezMonthsNo:0" [formControl]="newFreezeForm.controls['ShiftCount']"
        #shiftOrders us-error [errorMsg]="formErrors.ShiftCount" [displayError]="formSubmited && !newFreezeForm.get('ShiftCount').valid">
        <input *ngIf="!moveOrdersDisabled && !isDisabled" placeholder="{{ 'MEMBERSHIP.ValMis' | translate }}" class="form-control" type="number"
         min="0" [max]="isExtendedVal?freezMonthsNo:0" [formControl]="newFreezeForm.controls['ShiftCount']"
          #shiftOrders us-error [errorMsg]="formErrors.ShiftCount" [displayError]="formSubmited && !newFreezeForm.get('ShiftCount').valid"> -->

        <input placeholder="{{ 'MEMBERSHIP.ValMis' | translate }}" class="form-control" type="number"
         min="0" [max]="isExtendedVal?freezMonthsNo:0" [formControl]="newFreezeForm.controls['ShiftCount']"
          #shiftOrders us-error [errorMsg]="formErrors.ShiftCount" [displayError]="formSubmited && !newFreezeForm.get('ShiftCount').valid">

      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.ExtendContractPeriodByDays' | translate }}</label>
        <input class="form-control" type="text"  [formControl]="newFreezeForm.controls['FreezeDays']" us-error [errorMsg]="formErrors.FreezeDays"
          [displayError]="formSubmited && !newFreezeForm.get('FreezeDays').valid" disabled>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.Note' | translate }}</label>
        <textarea class="form-control note" rows="6" formControlName="Note" us-error [errorMsg]="formErrors.Note"
          [displayError]="formSubmited && !newFreezeForm.get('Note').valid"></textarea>
      </div>
    </div>
  </div>
</form>
  <div class="grid-container">
      <ag-grid-angular
        class="ag-theme-balham grid"
        [rowData]="items"
        [columnDefs]="orderlistDefs"
        [rowClassRules]="rowClassRules"

        [enableSorting]="true"
        [enableColResize]="true"
        [enableFilter]="false"
        [floatingFilter]="false"
        [suppressCellSelection] ="true"
        [suppressNoRowsOverlay]="true"
        [suppressRowClickSelection]="true"
        [getRowHeight]="getRowHeight"

        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)">
      </ag-grid-angular>
  </div>
<div class="d-flex no-gutters button-bottom-dish">
  <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'COMMON.Save' | translate " (click)="submitForm(commChannel)"></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'COMMON.Cancel' | translate " (click)="cancel()"></us-icon-button>
</div>


<ng-template #commChannel let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.CommunicationChannel' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">
    <label>{{ 'MEMBERSHIP.SelectChannel' | translate}}</label>
    <select class="custom-select w-100" #channelVal>

      <option value="EVENTLOG">
        {{ 'MEMBERSHIP.EventLogTitle' | translate}}
      </option>

      <option value="EMAIL">
        {{ 'MEMBERSHIP.EMAIL' | translate}}
      </option>

      <option value="PRINT">
        {{ 'MEMBERSHIP.Print' | translate}}
      </option>
      <option value="SMS">
        {{ 'MEMBERSHIP.sms' | translate}}
      </option>
    </select>



  </div>

  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.Save' | translate}}" (click)="c();saveContract(channelVal.value)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" labelText="{{ 'MEMBERSHIP.Cancel' | translate}}" (click)="c()"></us-icon-button>
  </div>
</ng-template>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message"></exce-fade-in-n-out>
