
<strong>DOWNLOAD MEMBER LIST FOR TODAY</strong>

<div class="row">
 
  <us-icon-button [iconClass]="'icon-download'" (click)="downloadChanged()" [labelText]="'Changed'"></us-icon-button>
  <us-icon-button [iconClass]="'icon-download'" (click)="downloadARX()" [labelText]="'ARX Members'"></us-icon-button>

  <!-- <input type=button id=htmlBtn value='Save as an HTML document' onClick="downloadLoc()"> -->
  
</div>

