
<div class="shop-content-height m-1">
  <div class="d-flex no-gutters h-100">
    <div class="customer-detail-panel" usScroll>

      <!-- <div class="form-group">
        <p class="m-0">{{'COMMON.Customer' | translate}}</p>
        <strong>{{selectedMember?.IntCustId}}</strong>&emsp;&emsp;
        <strong>{{selectedMember?.Name}}</strong>
      </div> -->

      <div class="form-group" *ngIf="!(isOnAccountPayment && ! isCreditNote)">
        <p class="m-0">{{'COMMON.AccountBalanceC' | translate}}</p>
        <strong>{{shopAccount?.Balance | amountConverter:locale}}</strong>
      </div>

      <div class="form-group" >
        <p class="m-0">{{'COMMON.PrepaidBalance' | translate}}</p>
        <strong>{{shopAccount?.PrepaidBalance | amountConverter:locale}}</strong>
      </div>

      <form [formGroup]="paymentForm" #paymentForm1>

        <!-- <div class="from-group" *ngIf="!(isOnAccountPayment && ! isCreditNote)">
          <label>{{'COMMON.TotalPayable' | translate}}</label>
          <us-amount-input [hideClose]="true" class="w-100" formControlName='TotalPayable' [disabled]="true"></us-amount-input>
        </div> -->

        <div class="from-group">
          <label>{{'COMMON.PaymentType' | translate}}</label>
          <div class="input-group">
            <!-- <select class="custom-select w-100" (change)="onPaymentMethodChange($event.target.value)" formControlName="PaymentType">
              <option *ngFor="let item of paymentModes" value="{{item.Code}}">{{item.Name | translate}}</option>
            </select> -->
            <input disabled class="w-100" value="{{paymentTypeDisplay}}"/>
          </div>
        </div>

        <div class="from-group">
          <label>{{'COMMON.PaymentAmount' | translate}}</label>
          <us-amount-input #payAmount (valueBlur)="onChange($event)" [hideClose]="isBookingPayment" class="w-100" [disabled]="isBookingPayment" formControlName='PayAmount' us-error [errorMsg]="formErrors.PayAmount"
             placement="right"></us-amount-input>
        </div>

        <div class="from-group" *ngIf="!isCardPayment">
          <label>{{'COMMON.GivenAmount' | translate}}</label>
          <us-amount-input (valueBlur)="givenAmountChange($event)" [hideClose]="false" class="w-100" formControlName='GivenAmount'
            (clear)="claerGivenAmount()" #givenAmount></us-amount-input>
        </div>

        <div class="from-group" *ngIf="isGiftVoucher">
          <label>{{'COMMON.VoucherNumber' | translate}}</label>
          <input class="form-control" type="text" formControlName="VoucherNumber">
        </div>

        <div class="from-group" *ngIf="isOCR">
          <label>{{'COMMON.PaymentDateC' | translate}}</label>
          <us-date-picker name="paymentDate" #startDate [locale]="'COMMON.Locale'| translate" formControlName="PaymentDate" [options]="paymentDateOptions">
          </us-date-picker>
        </div>

        <div class="from-group" *ngIf="isOCR">
          <label>{{'COMMON.GymNameC' | translate}}</label>
          <input class="form-control" formControlName="GymName" type="text" disabled>
        </div>

        <div class="from-group" *ngIf="!isCardPayment">
          <label>{{'COMMON.CashBalance' | translate}}</label>
          <us-amount-input [hideClose]="true" class="w-100" formControlName='CashBalance' ngDefaultControl [disabled]="true"></us-amount-input>
        </div>

        <div class="from-group">
          <button (click)="addToPaymentList()" class="btn btn-primary mt-2" type="button">{{ 'SHOP.NGVAddPayment' | translate}}</button>
        </div>
      </form>

      <!--<div class="from-group mt-2">
        bankkort
        <button (click)="payByCard()" class="btn btn-primary mr-1 mb-1 w-25" type="button">{{'COMMON.Card' | translate}}</button>

        <button (click)="isCardPayment='true'; payByCash(givenAmount)" class="btn btn-primary mr-1 mb-1 w-25" type="button">{{'COMMON.Cash' | translate}}</button>
        <button value="OCR" (click)="onPaymentMethodChange()" class="btn btn-primary mr-1 mb-1 w-25" type="button">OCR</button>
        <button value="BANKSTATEMENT" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Melding Bank</button>
        <button value="" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Innfordring</button>
        <button value="" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Akonto</button>
        <button value="" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Neste ordre</button>
        <button (value)="GIFTCARD" value="GIFTCARD" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Gavekort</button>
        <button value="" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Faktura</button>
        <button value="" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Bank</button>
        <button value="" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-25" type="button">Agresso</button>
        <button value="" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-45" type="button">Forhåndsbetalt</button>
        <button value="VIPPS" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-45" type="button">Standsalg vipps</button>
        <button value="EMAILSMSINVOICE" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-45" type="button">Epost/sms faktura</button>
        <button value="STDTERMINAL" (click)="onPaymentMethodChange(value)" class="btn btn-primary mr-1 mb-1 w-45" type="button">Standsalg bankterminal</button>
        <button class="btn btn-primary mb-1 w-45" type="button">{{'COMMON.OpenDrawer' | translate}} </button>
        <div class="content-scroller mt-2">
          <button *ngFor="let item of paymentModes" class="btn btn-primary mr-1 mb-1 w-45" value="{{item.Code}}" (click)="onPaymentMethodChange($event.target.value)">{{item.Name | translate}}</button>
        </div>
      </div> -->



    </div>
    <div class="col ml-2">

      <split direction="vertical">
        <split-area [size]="60">
            <label>{{'COMMON.PaymentMethod' | translate}}</label>
            <div class="from-group mt-2">
                <div class="mt-2">
                  <span *ngIf="!isSelectedMember">
                    <button  *ngFor="let item of paymentModes2"
                    [disabled]="!isBankTerminalActive || (!IsCashSalesActivated && item.Code == 'CASH') || (item.Code != 'CASH' && isShopReturn)"
                    class="btn btn-primary mr-1 mb-1 w-45" value="{{item.Code}}"
                    (click)="onPaymentMethodChange($event.target.value)">{{item.Display | translate}}</button>
                  </span>
                  <span *ngIf="isSelectedMember">
                    <button *ngFor="let item of paymentModes"
                    [disabled]="(!isBankTerminalActive && (item.Code == 'CASH' || item.Code == 'BANKTERMINAL' || item.Code === 'VIPPS')) || (!IsCashSalesActivated && item.Code == 'CASH')
                    || (item.Code != 'CASH' && isShopReturn)"
                    class="btn btn-primary mr-1 mb-1 w-45" value="{{item.Code}}" (click)="onPaymentMethodChange($event.target.value)">{{item.Display | translate}}</button>
                  </span>
                </div>
            </div>
        </split-area>
        <split-area [size]="40">
            <div class="card ">
                <div class="card-header p-1">{{'COMMON.PaymentListC' | translate}}</div>
                <div class="card-body bg-light p-0">
                    <us-data-table [items]="paymentsList" [pagination]="false">
                        <data-table-column [property]="'PaymentType'" header="{{'COMMON.Type' | translate}}">
                        </data-table-column>
                        <data-table-column [property]="'Amount'" header="{{'COMMON.Amount' | translate}}">
                            <ng-template #dataTableCell let-item="item">
                                {{item.Amount | amountConverter:locale}}
                              </ng-template>
                        </data-table-column>
                        <data-table-column [property]="'isDeleteAble'" [header]="'COMMON.Delete' | translate" [width]="100" [resizable]="true">
                          <ng-template #dataTableHeader let-item="item">
                            <span>{{'COMMON.btnRemove' | translate}}</span>
                          </ng-template>
                          <ng-template #dataTableCell let-item="item">
                              <button [disabled]='!item.IsAbleDelete' class="btn btn-danger btn-icon btn-icon-min" (click)="removePayment(item)">
                                <span class="icon-cancel"></span>
                              </button>
                          </ng-template>
                        </data-table-column>
                      </us-data-table>
                </div>
                <div class="card-footer p-1">
                    <div class="d-flex">
                      <div class="mr-5">
                        <strong>{{ 'COMMON.Total' | translate}}</strong>
                        <strong><h5 #total class="m-0 text-dark">{{paidTotal | amountConverter:locale}}</h5></strong>
                      </div>
                      <div>
                          <strong>{{ ((remaningBalance > 0) ? 'COMMON.RemainBalance' : 'COMMON.RemainBalance') | translate}}</strong>
                          <strong><h5 class="m-0 text-dark">{{remaningBalance | amountConverter:locale}}</h5></strong>
                        </div>
                    </div>
                </div>
              </div>
      </split-area>
      </split>
      <!-- <us-icon-button [isDisabled]='!paymentsList || paymentsList.length === 0 || remaningBalance > 0'  class="mr-1 float-left"  (click)="savePayment('')" [iconClass]="'icon-done'" [labelText]="'COMMON.SaveS' | translate "></us-icon-button> -->
    </div>
  </div>
<!--
  <div class="d-flex">

      <div class="from-inline">
        <us-icon-button class="mr-1 float-left" (click)="savePayment()" [iconClass]="'icon-done'" [labelText]="'COMMON.SaveS' | translate "></us-icon-button>
        <us-icon-button class="float-left" (click)="cancelCashCus()" [iconClass]="'icon-cancel'" [labelText]="'COMMON.Cancel' | translate "></us-icon-button>
      </div>


  </div> -->
</div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
  [information]="message" >
</exce-fade-in-n-out>

<!-- -------------------------------------------------------------------------------------------------------------------- -->

<ng-template #returnCommentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
      <span class="modal-title">{{ 'COMMON.ReturnComment' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="closeReturnModal()">

          <span aria-hidden="true" class="icon-close"></span>
        </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="element">
        <h2>Salg</h2>
        <ag-grid-angular
          class="ag-theme-balham grid"
          [rowData]="returnSales"
          [columnDefs]="salesDefs"
          [enableSorting]="true"
          [enableColResize]="true"
          [enableFilter]="false"
          [floatingFilter]="false"
          [suppressCellSelection] ="true"
          [suppressNoRowsOverlay]="true"
          [suppressRowClickSelection]="false"
          [rowSelection]="'single'"
          (gridReady)="onGridReady($event)"

          >
      </ag-grid-angular>
      </div>
      <div class="element mt-2">
          <div class="form-group">
            <label>
              Kommentar
            </label>
              <textarea rows="4" cols="50" class="form-control" (change)="commentChange($event)"></textarea>
          </div>
      </div>
    </div>
      <!-- <div class="row">
          <div class="col">
              <div class="form-group">
                  <textarea rows="4" cols="50"></textarea>
              </div>
          </div>
      </div> -->
  </div>
  <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'COMMON.SaveS' | translate " (click)="shopReturnSave()"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'COMMON.Cancel' | translate " (click)="closeReturnModal()"></us-icon-button>
  </div>

  <exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo2"
  [information]="message" >
  </exce-fade-in-n-out>

</ng-template>

<!-- -------------------------------------------------------------------------------------------------------------------- -->


