<us-data-table [items]="campaignItems" [pagination]="false" (rowDoubleClick)="campaignDoubleClick($event.row.item)">
  <data-table-column [property]="'Name'" [header]="'COMMON.Name'| translate" [sortable]="true">
  </data-table-column>
  <data-table-column [property]="'VendorName'" [header]="'COMMON.Vendor'| translate" [sortable]="true">
  </data-table-column>
  <data-table-column [property]="'CategoryName'" [header]="'COMMON.Discount'| translate">
  </data-table-column>
  <data-table-column [property]="'DiscountAmount'" [header]="'COMMON.Discount'| translate" [alignment]="'right'" [width]="80" >
    <ng-template #dataTableCell let-item="item">
      <span>{{item.DiscountAmount | amountConverter:locale}}</span>
    </ng-template>

  </data-table-column>
  <data-table-column [property]="'CampaignText'" [header]="'COMMON.MinAndFreeNoOfArticles'| translate">
  </data-table-column>
  <data-table-column [property]="" [header]="'Items'">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-primary" type="button" #popIns="usPopover" (click)="openPopOver(item,popIns);" container="body" placement="left"
        [usPopover]="listOfItems" popoverWidth="350" popoverHeight="100" triggers="manual">View Items</button>
    </ng-template>
  </data-table-column>

</us-data-table>


<ng-template #listOfItems>
  <div class="d-flex justify-content-end">
    <a type="button" class="cursor-hand text-sm"  d="closeBtn" #closeBtn (click)="closePopOver()">
      <span aria-hidden="true" class="icon-close"></span>
    </a>
  </div>
  <div class="d-block">
    <ul class="list-unstyled">
      <li class="list-line-item" *ngFor="let article of campArticleList">{{article.Description}}</li>
    </ul>
  </div>

</ng-template>