<div class="d-flex no-gutters">
  <div class="col-2 mr-2">
    <div class="form-group">
      <label>{{'MEMBERSHIP.Name' | translate }}</label>
      <div><strong>Hirantha Jayasinghe</strong></div>
    </div>
    <div class="form-group">
        <label>{{'MEMBERSHIP.Type' | translate }}</label>
        <div><strong>Ferie</strong></div>
    </div>
    <div class="form-group">
        <label>{{'MEMBERSHIP.FrzDtlsLblFrom' | translate }}</label>
        <div><strong>1/17/2017</strong></div>
    </div>
    <div class="form-group">
        <label>{{'MEMBERSHIP.ToC' | translate }}</label>
        <div><strong>2/17/2017</strong></div>
    </div>
    <div class="form-group">
        <label>{{'MEMBERSHIP.FreezeDays' | translate }}</label>
        <div><strong>-1</strong></div>
    </div>
    <div class="form-group">
        <label>{{'MEMBERSHIP.ShiftOrdersByMonths' | translate }}</label>
        <div><strong>0</strong></div>
    </div>
    <div class="form-group">
        <label>{{'MEMBERSHIP.Note' | translate }}</label>
      <div><strong>Frys</strong></div>
    </div>
  </div>
  <div class="col mr-1">
      <label>{{ 'MEMBERSHIP.FrzDtlsLblFrzdInstallments' | translate }}</label>

      <table class="table table-sm table-hover table-default my-2">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'MEMBERSHIP.OrderNo' | translate }}</th>
              <th>{{ 'MEMBERSHIP.RegisteredDate' | translate }}</th>
              <th>{{ 'MEMBERSHIP.InstallmentAmount' | translate }}</th>
              <th>{{ 'MEMBERSHIP.InstallmentDueDate' | translate }}</th>
              <th>{{ 'MEMBERSHIP.TrainingPeriodStart' | translate }}</th>
              <th>{{ 'MEMBERSHIP.TrainingPeriodEnd' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

  </div>
</div>
