%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

.rev-acc-table {
     ::ng-deep .data-table {
        height: calc(100vh - 270px);
        @extend %table-header-fixed-scroller;
    }
}

:host .system-set-vat-scroller {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 125px);
    width: 100%;
}