.key-words-wrapper{
        background-color: #fff;
        border: 1px solid #c6c9cb;
        width: 99.4%;
        height: 88.5%;
}

.key-word-item{
    padding: 5px;
    height: 32px;
    background-color: #e4e7e9;
}

.key-word-item .close {
    float: right;
    font-size: 18px;
}    