:host .scroll-content{
    display: block;
    overflow: auto;
    height: calc(100vh - 248px);
    width: 100%;
}


.prefix {
  width: 20%;
  text-align: center;
}

.mob {
  width: 80%;
  text-align: center;
}
