<div class="modal-body">
  <form [formGroup]="followUpForm">
    <div class="d-flex no-gutters">
      <!-- Hidden field for MemberId -->
      <input class="form-control" type="hidden" formControlName="Id">

      <div class="form-group col-2 mr-1">
        <label>{{'MEMBERSHIP.FollowUpTemplateC' | translate}}</label>
        <select class="form-control custom-select" name="templateSelected" formControlName="templateSelected" [ngModel]="selectedTemplate" #item
        (change)="onTemplateChange(item)">
          <option *ngFor="let template of templates;" [ngValue]="template">{{template.Name}}</option>
        </select>
      </div>

      <div class="form-group col-2 mr-1" *ngIf="isSms">
        <label>{{'COMMON.Mobile' | translate}}</label>
        <div class="input-group">
          <input (blur)="prefixChange($event.target.value)" type="text" formControlName="MobilePrefix" class="prefix">
          <input  autocomplete="'none'" class="mob" type="text" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile" [id]="'Mobile'"
          (blur)="mobileBlur($event.target.value)" (valueFocus)="mobileFocus('MOBILE')" [displayError]="(isMobileBlur || myFormSubmited) && !followUpForm.get('Mobile').valid"
          placement="top" container="view">
        </div>
<!--         <intl-tel-input [id]="'Mobile'" (fullValueChange)="fullValueChange($event)" formControlName="Mobile" [(ngModel)]="Mobile"
          us-error [errorMsg]="formErrors.Mobile" (valueBlur)="mobileBlur($event,'MOBILE')" (valueFocus)="mobileFocus('MOBILE')"
          [displayError]="(isMobileBlur || myFormSubmited) && !followUpForm.get('Mobile').valid" placement="right" container="view">
        </intl-tel-input> -->
      </div>

      <div class="form-group col-2 mr-1" *ngIf="isEmail">
        <label>{{'MEMBERSHIP.Email' | translate}}</label>
        <input type="text" class="form-control" formControlName="Email" [(ngModel)]="Email" us-error [errorMsg]="formErrors.Email"
          (focus)="emailFocus()" (blur)="emailBlur()" [displayError]="(isEmailBlur || myFormSubmited) && !followUpForm.get('Email').valid"
          placement="right" container="view">
      </div>
    </div>

    <hr class="hr-dashed mt-0">
    <div class="scroll-content">
      <div class="d-flex" >
        <div class="card" style="width: 200px">
          <div class="card-header py-1">
            <strong>{{'MEMBERSHIP.FollowUpCategoryC' | translate}}</strong>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action py-1" *ngFor="let item of followupTaskList;" (click)="followUpChangeEvent(item,1)">{{item.ExcelineTaskCategory.Name}}</li>
          </ul>
        </div>

      <div class="col" *ngIf="isTemplateVisible">
        <follow-up-template #followUpTemplate [isAddNew]="false" [dataUpdateMember]="dataUpdateMember" [followUpDetail]="followupTaskList">
        </follow-up-template>
        <!--
          <follow-up-template #followUpTemplate
            [isText]="true"
            [followupTemplate]="selectedFollowUpDetail"
            [dataUpdateMember]="dataUpdateMember"
            [followUpDetail]="followupTaskList">
          </follow-up-template>
        -->
      </div>
    </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate " (click)="saveFollowUp(followUpForm.value)"></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeView()"></us-icon-button>
</div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="aniMessage"></exce-fade-in-n-out>
