%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host /deep/ .table-default {
    height: calc(100vh - 188px);
    @extend %table-header-fixed-scroller;
}

.new-class-select-table{
 ::ng-deep .data-table{
    height: 300px;
    @extend %table-header-fixed-scroller;
 }
}