
   <us-crop-image  #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
   <span class="result" *ngIf="data1.image">
     <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
   </span>