<div class="d-flex justify-content-start px-1">
  <div class="form-group mr-2">
    <label>{{ 'ADMIN.EmployeeNameC' | translate }}</label>
    <div class="input-group">
      <!-- <input class="form-control" type="text"> -->
      <label class="form-control">{{currentEmployee?.Name}}</label>
      <button class="btn btn-primary" type="button" (click)="openSearchEmployee(resourceSelection)">{{ 'ADMIN.Select' | translate }}</button>
    </div>
  </div>
  <div class="form-group">
    <label>{{ 'ADMIN.Period' | translate }}</label>
    <div class="form-inline">
        <us-date-picker style="width: 150px;" #fromDate (dateChanged)="filterInput($event,toDate.value)" [locale]="'ADMIN.Locale'| translate" [selDate]="monthBeforeString">
          </us-date-picker>
      <label class="mx-1">{{ 'ADMIN.To' | translate }}</label>
      <us-date-picker style="width: 150px;" class="mr-2" #toDate  (dateChanged)="filterInput(fromDate.value,$event)" [locale]="'ADMIN.Locale'| translate" [selDate]="TodayString">
        </us-date-picker>
    </div>
  </div>
</div>


<div class="d-flex justify-content-start px-1">
  <us-data-table id="" [items]="items" [itemCount]="itemCount" [pagination]="false" [selectColumn]="true" (rowSelect)="selectRow($event)">
    <data-table-column [property]="''" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.WorkDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.StartTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.EndTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'TimeInMinutes'" header="{{ 'ADMIN.TimeInMinutes' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'TimeCategoryName'" header="{{ 'ADMIN.TimeCategory' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Comment'" header="{{ 'ADMIN.Comment' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>
</div>
<div class="d-flex justify-content-start px-1 mt-1">
  <button class="btn btn-primary " type="menu" (click)="approveWork()">{{ 'ADMIN.Approve' | translate }}</button>
</div>



<ng-template #resourceSelection let-c="close" let-d="dismiss">

    <div class="modal-header">
      <span class="modal-title">
        <span class="modal-title">{{'ADMIN.ResourcesSelectionTitle' | translate}}</span>
      </span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
  
    <div class="modal-body">
      <exce-entityselection (searchEvent)="searchDetail($event)" (selectedItem)="selectResource($event)" (closeViewEvent)="c()"
        [showOkButton]="false" [multipleSelect]="false" [itemList]="employees" [auotocompleteItems]="auotocompleteItems" [columns]="columns"
        [itemcount]="empCount" [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true"
        [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false">
  
      </exce-entityselection>
    </div>
  
  </ng-template>