<form [formGroup]="uploadForm" #uploadFrm>
  <!-- <div>
      <label class="custom-file w-100">
        <input type="file" id="btnUpload" class="custom-file-input" value="Upload" (change)="fileChangeEvent($event)">
        <span class="custom-file-control"></span>
      </label>
    </div> -->
  <div *ngIf="isUpload">

    <input type="file" id="btnUpload" value="Upload" (change)="fileChangeEvent($event)" class="upload" />

  </div>

  <div class="d-flex no-gutters">
    <div class="col mr-2">
      <div class="form-group">
        <label>{{ 'REPORT.ReportConfigurationSaveDialogTblName' | translate }}</label>
        <input type="text" class="form-control" #name formControlName="Name" us-error [errorMsg]="formErrors.Name" [displayError]="formSubmited && !uploadForm.get('Name').valid">
      </div>
      <div class="form-group">
        <label>{{ 'REPORT.ReportConfigurationSaveDialogTblCategory' | translate }}</label>
        <div class="input-group">
          <select class="custom-select custom-select-sm w-100" #catSelect formControlName="Category" us-error [errorMsg]="formErrors.Category"
            [displayError]="formSubmited && !uploadForm.get('Category').valid">
            <option *ngFor="let cat of reportCategories" value={{cat}}>{{cat}}</option>
          </select>
          <button class="btn btn-primary w-25 mr-1" type="button" (click)="openAddEditCategory(newCategory)">{{ 'REPORT.ReportConfigurationSaveDialogBtnNewCategory' | translate }}</button>
          <button class="btn btn-primary w-25" type="button" (click)="catSelect.value?openAddEditCategory(editCategory,catSelect.value):''">
          {{ 'REPORT.ReportConfigurationSaveDialogBtnEditCategory' | translate }}</button>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'REPORT.ReportingHomeHDescription' | translate }}</label>
        <textarea type="text" rows="3" class="form-control w-100 mt-2" formControlName="Description"></textarea>
        <!-- us-error [errorMsg]="formErrors.Description" [displayError]="formSubmited && !uploadForm.get('Description').valid" -->
      </div>
    </div>
    <div class="col">
      <label>{{ 'REPORT.ScheduleRole' | translate }}</label>

      <table class="table table-sm table-hover table-default scroll-table gym-table mb-2">
        <thead class="thead-primary">
          <tr>
            <th width="60%">{{ 'REPORT.ScheduleRole' | translate }}</th>
            <th width="10%">{{ 'REPORT.Edit' | translate }}</th>
            <th width="10%">{{ 'REPORT.View' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of userRoles">
            <td width="60%">{{role.RoleName}}</td>
            <td width="10%">
              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [checked]="role.IsEditable" [(ngModel)]="role.IsEditable" [ngModelOptions]="{standalone: true}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"></span>
              </label>
            </td>
            <td width="10%">
              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [checked]="role.IsView" [(ngModel)]="role.IsView" [ngModelOptions]="{standalone: true}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"></span>
              </label>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="input-group">
    <button class="btn btn-primary mr-1" type="button" (click)="submitForm(uploadForm.value,false)">{{ 'REPORT.SelectionScreenBtnSave' | translate }}</button>
    <button class="btn btn-primary mr-1" type="button" (click)="submitForm(uploadForm.value,true)">{{ 'REPORT.ReportConfigurationSaveDialogBtnSaveAs' | translate }}</button>
    <button class="btn btn-primary" type="button" (click)="closeUploadModal()">{{ 'REPORT.ReportConfigurationSaveDialogBtnCancel' | translate }}</button>
  </div>

</form>


<ng-template #newCategory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">Add New Category

    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <label>New Category Name</label>
    <input type="text" #newCatName>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'Save'" (click)="addCategory(newCatName.value)"></us-icon-button>


  </div>

</ng-template>


<ng-template #editCategory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">Edit Category</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <label>Existing Category Name</label>
      <Strong class="form-control">{{existingEditVal}}</Strong>
    </div>
    <div class="row">
      <label>New Category Name</label>
      <input type="text" #newCatName>
    </div>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'Save'" (click)="addCategory(newCatName.value)"></us-icon-button>
  </div>
</ng-template>