
<!-- <collapsible-table> -->
  <!-- <div col-table-column [property]="'Id'"></div>
<col-table-column [property]="'Name'"></col-table-column> -->
<!-- <col-table-column [property]="'Age'"></col-table-column>
</collapsible-table> -->