<div class="inte-well-scroller">
<form [formGroup]="WellnessForm" #WellnessFrm>

  <div class="d-flex m-1 no-gutters ">

    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.ServiceBaseURL' | translate }}</label>
        <input type="text" class="form-control" [formControl]="WellnessForm.controls['ServiceBaseUrl']" [exceError]="WellnessForm.controls['ServiceBaseUrl']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Username' | translate }} </label>
        <input type="text" class="form-control" [formControl]="WellnessForm.controls['UserName']" [exceError]="WellnessForm.controls['UserName']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Password' | translate }} </label>
        <input type="password" class="form-control" [formControl]="WellnessForm.controls['Password']" [exceError]="WellnessForm.controls['Password']">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>{{ 'ADMIN.FacilityUrl' | translate }}</label>
        <input type="text" class="form-control" [formControl]="WellnessForm.controls['FacilityUrl']" [exceError]="WellnessForm.controls['FacilityUrl']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.APIKey' | translate }} </label>
        <input type="text" class="form-control" [formControl]="WellnessForm.controls['ApiKey']" [exceError]="WellnessForm.controls['ApiKey']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.ClientId' | translate }} </label>
        <input type="text" class="form-control" [formControl]="WellnessForm.controls['Guid']" [exceError]="WellnessForm.controls['Guid']">
      </div>
    </div>

  </div>
</form>
<div class="d-flex m-1">
    <us-icon-button class="mr-2" [iconClass]="'icon-done'" (click)="saveSettings(WellnessForm.value)" [labelText]="'ADMIN.Save' | translate" [isDisabled]="!WellnessForm.valid"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" (click)="clearForm()" [labelText]="'ADMIN.CLEAR' | translate"></us-icon-button>
</div>

</div>