<div [class]="node.styleClass" [ngClass]="{'ui-treetable-row': true, 'ui-state-highlight':isSelected(),'ui-treetable-row-selectable':treeTable.selectionMode && node.selectable !== false}">
  <td *ngFor="let col of treeTable.columns; let i=index" [ngStyle]="col.style" [class]="col.styleClass" (click)="onRowClick($event)" (dblclick)="rowDblClick($event)" (touchend)="onRowTouchEnd()" (contextmenu)="onRowRightClick($event)">
   <a href="#" *ngIf="i == treeTable.toggleColumnIndex" class="ui-treetable-toggler ui-clickable" [ngClass]="node.expanded ? treeTable.expandedIcon : treeTable.collapsedIcon"
          [ngStyle]="{'margin-left':level*16 + 'px','visibility': isLeaf() ? 'hidden' : 'visible'}"
          (click)="toggle($event)"
          [title]="node.expanded ? labelCollapse : labelExpand">
      </a>

      <div class="ui-chkbox ui-treetable-checkbox" *ngIf="treeTable.selectionMode == 'checkbox' && i==0"><div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default">
          <span class="ui-chkbox-icon ui-clickable" 
              [ngClass]="{'icon-done':isSelected(),'fa-minus':node.partialSelected}"></span></div></div
      ><span  *ngIf="!col.template">{{resolveFieldData(node.data,col.field)}}</span>
      <div *ngIf="col.cellTemplate && !node.children" [ngTemplateOutlet]="col.cellTemplate" [ngTemplateOutletContext]="{column: col, row: node, item: node.data}"></div>
      <!-- <us-tree-column-body-loader [column]="col" [rowData]="node" *ngIf="col.template"></us-tree-column-body-loader> -->
  </td>
</div>
<div *ngIf="node.children && node.expanded" class="ui-treetable-row" style="display:table-row">
  <td [attr.colspan]="treeTable.columns.length" class="ui-treetable-child-table-container">
      <table [class]="treeTable.tableStyleClass" [ngStyle]="treeTable.tableStyle">
          <tbody usTreeRow *ngFor="let childNode of node.children" [node]="childNode" [level]="level+1" [labelExpand]="labelExpand" [labelCollapse]="labelCollapse" [parentNode]="node"></tbody>
      </table>
  </td>
</div>