.mt-1-2{
  margin-top: 2px;
}

.scroll-content{
  height: 244px;
  width: 320px;
 }

 %table-header-fixed-scroller {
  display: flex;
  flex-flow: column;
  width: 100%;
  tbody {
      display: block;
      overflow-y: scroll;
      flex: 1 1 auto;
  }
  thead,
  tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
  }
  thead {
      width: calc( 100% - 1.3em);
  }
}

:host /deep/ .table-default {
  height: calc(100vh - 118px);
  @extend %table-header-fixed-scroller;
}

.acces-pro-table {
   ::ng-deep .table-default {
      height: calc(100vh - 362px);
      @extend %table-header-fixed-scroller;
  }
}
