<div class="d-flex px-1">
  <div class="form-group mr-2">
    <label>{{'CLASS.KeyWordsC'| translate}}</label>
    <select class="form-control custom-select" (change)="onKeywordChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of keyWordList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'CLASS.Instructor'| translate}}</label>
    <select class="form-control custom-select" (change)="onInstructorChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of instructorList" value="{{item.Id}}">{{item.DisplayName}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'CLASS.Group'| translate}}</label>
    <select class="form-control custom-select" (change)="onGroupChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of classGroupList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'CLASS.Type'| translate}}</label>
    <select class="form-control custom-select" (change)="onTypeChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of classTypeList" value="{{item.Code}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'CLASS.Level'| translate}}</label>
    <select class="form-control custom-select" (change)="onLevelChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of classLevelList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'CLASS.Location'| translate}}</label>
    <select class="form-control custom-select" (change)="onLocationChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of resourceRecords" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>

  <div class="ml-auto">
    <div class="btn-group mt-4 mb-0" role="group">
      <!-- <button type="button" (click)="changeView(false)" class="btn btn-primary {{ isLoadCalandarView ? '' : 'active' }}">
        <span class="icon-list"></span> {{'CLASS.ListC'| translate}}</button> -->
      <!-- <button type="button" (click)="changeView(true)" class="btn btn-primary {{ isLoadCalandarView ? 'active' : '' }}">
        <span class="icon-calendar"></span> {{'CLASS.Calender'| translate}}</button> -->
    </div>
  </div>
</div>

<div>
  <class-list [isFixed]="true" [isDisableDateChange]="false" [isDisableToTimeChange]="true" [isDisplayDateNavPanel]="true" (informationHandler)="handleInformation($event)"
  *ngIf="!isLoadCalandarView"></class-list>
  <!-- <class-calendar *ngIf="isLoadCalandarView"></class-calendar> -->
</div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo" [information]="message">
</exce-fade-in-n-out>
