
<!-- <us-tree-table [value]="files" selectionMode="single" [(selection)]="selectedFile"
(onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [style]="{'margin-top':'50px'}">
    <us-tree-header>Basic</us-tree-header>
    <us-tree-column field="name" header="Name"></us-tree-column>
    <us-tree-column field="size" header="Size"></us-tree-column>
    <us-tree-column field="type" header="Type"></us-tree-column>
</us-tree-table> -->


<us-tree-table [value]="files"    >
    <us-tree-header>Checkbox Selection</us-tree-header>
    <us-tree-column field="name" header="Name"></us-tree-column>
    <us-tree-column field="size" header="Size"></us-tree-column>
    <us-tree-column field="type" header="Type">

            <ng-template #dataTableCell let-item="item">
                    <button class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' |translate}}" (click)="deleteSetting(item)">
                              <span class="icon-cancel"></span>
                    </button>

                    <button class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' |translate}}" (click)="deleteSetting(item)">
                            <span class="icon-cancel"></span>
                  </button>
                  </ng-template>

    </us-tree-column>
</us-tree-table>
