:host /deep/ .fc-widget-content .fc-scroller {
    height: calc(100vh - 210px) !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

:host /deep/ .fc-row:first-child {
    table{
        th:nth-child(8){
            border-right: 1px solid #495057;
        }
    }
}

:host /deep/ .fc-time-grid {

        table{
            tbody{
                tr{
                    td:nth-child(8){
                        border-right: 1px solid #495057;
                    }
                }
            }
        }
    
}

.calendar-tool-bar{
    color: white;
    .main{
        margin-right: 18px;
    }
    .time-space{
        border-right: 1px solid #e9ecef;
        width: 46px;
    }
    .flex-fill:first-child{
        border-right: 1px solid #e9ecef;
    }
}

