<div class="d-flex px-1">

  <div class="form-group mr-2">
    <label>{{'ADMIN.KeyWordsC'| translate}}</label>
    <select class="form-control custom-select" (change)="onKeywordChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of keyWordList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'COMMON.Instructor'| translate}}</label>
    <select class="form-control custom-select" (change)="onInstructorChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of instructorList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'ADMIN.GroupC'| translate}}</label>
    <select class="form-control custom-select" (change)="onGroupChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of classGroupList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'COMMON.Type'| translate}}</label>
    <select class="form-control custom-select" (change)="onTypeChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of classTypeList" value="{{item.Code}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'ADMIN.LevelC'| translate}}</label>
    <select class="form-control custom-select" (change)="onLevelChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of classLevelList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'ADMIN.Location'| translate}}</label>
    <select class="form-control custom-select" (change)="onLocationChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of resourceRecords" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>


  <div class="ml-auto">
    <div class="btn-group mt-4 mb-0" role="group">
      <!-- <button type="button" (click)="openListView()" class="btn btn-primary">
        <span class="icon-list"></span> {{'CLASS.ListC'| translate}}</button>
      <button type="button" (click)="OpenCalandarView()" class="btn btn-primary">
        <span class="icon-calendar"></span> {{'CLASS.Calender'| translate}}</button> -->
      <us-icon-button [iconClass]="'icon-edit'" (click)="OpenEditView(editViewModal)" [labelText]="'CLASS.Edit' |translate" class="ml-1"></us-icon-button>

    </div>

  </div>
</div>

<div class="calendar-tool-bar" *ngIf="isCalandarView">
  <div class="d-flex">
    <div class="time-space">

    </div>
    <div class="d-flex main w-100">
      <div class="p-2 flex-fill w-50 h-100 d-flex align-items-center">
        <div>{{'ADMIN.OddWeek' | translate}}</div>
      </div>
      <div class="p-2 flex-fill w-50 h-100">
        <div class="d-flex align-items-center justify-content-between">
          <div>{{'ADMIN.EvenWeek' | translate}}</div>
          <div class="d-flex">
            <us-icon-button [iconClass]="'icon-undo'" (click)="undoAddingClasses()" [labelText]="'COMMON.Undo' |translate"></us-icon-button>
            <us-icon-button [iconClass]="'icon-done'" (click)="saveUpdatedClassList()" [labelText]="'COMMON.Save'|translate" class="ml-1"></us-icon-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="isCalandarView">
  <exce-scheduler #scheduler [events]="events" [header]="false" [allDaySlot]="false" [defaultView]="viewType" [editable]="true"
    [defaultDate]="defaultDate" [eventLimit]="true" [scrollTime]="scrollTime" [droppable]="true" (onEventDrop)="handleOnDrop($event)"
    (onEventDragStop)="dragStop($event, scheduler)" [slotEventOverlap]="false" [eventRender]="eventRender" [dayRender]="dayRender"
    (onEventMouseover)="mouseOver($event, scheduler)" (onEventMouseout)="mouseOut($event)" (onViewRender)="ViewRender($event)"
    (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" (onEventResizeStop)="eventResizeStop($event)"
    (onDayRightClick)="onRightClick($event)" (onEventRightclick)="onEventRightclick($event)" [resources]="resources" (onSelect)="onSelectResource($event)"
    [selectable]="true" [views]="views">
  </exce-scheduler>
</div>
<div *ngIf="!isCalandarView">
  <class-list [isFixed]="false" [inputFromDate]="defaultStartDate" [inputToDate]="defaultEndDate"
  [isDisableDateChange]="false" [isDisableToTimeChange]="false" [isDisplayDateNavPanel]="false" [seasonId]="seasonId"></class-list>
</div>

<div *ngIf="isShowDayContextMenu">
  <us-contextmenu [x]="contextmenuX" [y]="contextmenuY">
    <a class="dropdown-item cursor-hand" (click)="openAddNewClassModel(addNewClassModal, true)">{{ 'CLASS.AddClass' | translate }}</a>
    <a class="dropdown-item cursor-hand" *ngIf="isCopyClass" (click)="pasteClass()">{{ 'CLASS.Paste' | translate }}</a>
  </us-contextmenu>
</div>

<div *ngIf="isShowEventContextMenu">
  <us-contextmenu [x]="eventontextmenuX" [y]="eventContextmenuY">
    <a class="dropdown-item cursor-hand" (click)="copyClass()">{{ 'CLASS.Copy' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="openAddNewClassModel(addNewClassModal, false)">{{ 'CLASS.Edit' | translate }}</a>
  </us-contextmenu>
</div>


<ng-template #listViewModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.NewSeasonC' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body ">
    <class-list [isFixed]="false" [isDisableDateChange]="false" [isDisableToTimeChange]="false" [isDisplayDateNavPanel]="false"></class-list>
  </div>

</ng-template>

<ng-template #editViewModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.EditSeasonC' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body ">
    <form [formGroup]="addSeasonForm">

      <div class="modal-body ">
        <div class="d-flex no-gutters">
          <div class="col-md-12">
            <div class="form-group">
              <label>{{'COMMON.Name'| translate}}
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" type="text" formControlName="name" us-error [errorMsg]="formErrors.name" [displayError]="addSeasonFormSubmited && !addSeasonForm.get('name').valid"
                placement="bottom">
            </div>
          </div>
        </div>
        <div class="d-flex no-gutters">
          <div class="col-md-6">
            <div class="form-group mr-1">
              <label>{{'COMMON.FromC'| translate}} </label>
              <us-date-picker name="fromDate" formControlName="fromDate" #fromDate [locale]="'COMMON.Locale'| translate" us-error [errorMsg]="formErrors.fromDate"
                [displayError]="addSeasonFormSubmited && !addSeasonForm.get('fromDate').valid" placement="bottom" [options]="fromDatePickerOptions"
                (dateChanged)="onStartDateChange($event, fromDate, toDate)">
              </us-date-picker>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ml-1">
              <label>{{'COMMON.To'| translate}}</label>
              <us-date-picker name="toDate" formControlName="toDate" #toDate [locale]="'COMMON.Locale'| translate" us-error [errorMsg]="formErrors.toDate"
                [displayError]="addSeasonFormSubmited && !addSeasonForm.get('toDate').valid" placement="bottom" [options]="toDatePickerOptions">
              </us-date-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <us-icon-button *ngIf="isDisplayDelete" [iconClass]="'icon-cancel'" [iconBgClass]="'bg-danger'" [labelText]="'COMMON.Delete'| translate "
          (click)="deleteSeasonFromDetail()"></us-icon-button>
        <us-icon-button *ngIf="isDisplaySave" [iconClass]="'icon-done'" [labelText]="'COMMON.Save'| translate " (click)="saveNewSeasons(addSeasonForm.value)"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'COMMON.Cancel' | translate " (click)="c('Close click')"></us-icon-button>
      </div>
    </form>
  </div>

</ng-template>


<ng-template #addNewClassModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.AddNewClass' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0">
    <add-new-calss [isDisableDateChange]="true" [isDisableToTimeChange]="true" [activeTimeDetail]="selectedActiveTime" [isNewBooking]="isNewBooking"
      [fromDate]="fromDate" [toDate]="toDate" [startTime]="startTime" [day]="dayOfWeek" [isFixed]="false" [scheduleType]="'WEEKLY'"
      (cancelAddingNewCls)="cancelAddingNewCls()" (saveNewClassEvent)="saveNewClassSuccess($event)"></add-new-calss>
  </div>

</ng-template>
