<div class="d-flex w-100">
  <div class="mr-auto col-4 p-0 mr-2">

    <form [formGroup]="accessDeniedLogForm">
      <div class="input-group">

        <us-date-picker class="w-100" name="fromDate" #fromDate [formControl]="accessDeniedLogForm.controls['fromDate']" [locale]="'ADMIN.Locale'| translate"
          [options]="fromDatePickerOptions" (dateChanged)="fromDateChange($event, toDate)">
        </us-date-picker>

        <span class="input-group-addon border-left-0">{{'ADMIN.To' | translate}}</span>
        <us-date-picker class="w-100 mr-2" name="toDate" #toDate [formControl]="accessDeniedLogForm.controls['toDate']" [locale]="'ADMIN.Locale'| translate"
          [options]="toDatePickerOptions" (dateChanged)="toDateChange($event)">
        </us-date-picker>

        <span>
          <button class="btn btn-primary" (click)="getDateChanges(accessDeniedLogForm.value)">{{'COMMON.Search' | translate}}</button>
        </span>

      </div>
    </form>

  </div>
</div>

<div class="mt-1">
  <us-data-table [items]="filterdAccessDeniedLogList" [itemCount]="itemCount" >

    <data-table-column [width]="120" [property]="'CreatedDate'" [header]="'ADMIN.Date' | translate" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="120" [property]="'Time'" [header]="'ADMIN.Time' | translate" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:'HH:MM'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="120" [property]="'TerminalId'" [header]="'NOTIFICATION.TerminalId' | translate" [sortable]="true"
      [resizable]="true">
    </data-table-column>

    <data-table-column [width]="180" [property]="'TerminalName'" [header]="'ADMIN.TerminalName' | translate" [sortable]="true"
      [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'MemberNo'" [header]="'NOTIFICATION.MemberNo' | translate" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'CardNo'" [header]="'NOTIFICATION.CardNo' | translate" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'Message'" [header]="'NOTIFICATION.Message' | translate" [sortable]="true" [resizable]="true">
    </data-table-column>

  </us-data-table>
</div>
