<div class="d-flex justify-content-start shop-content-height m-1">
  <div class="input-group">
    <div>{{'COMMON.MachineNameC'| translate}}<div style="font-weight: bold; text-align: center;">{{machineName}}</div></div>
    <div class="line"></div>
    <div>{{'COMMON.SalePointId'| translate}}<div style="font-weight: bold; text-align: center;">{{salepointid}}</div></div>
    <div class="line"></div>
    <div>{{'COMMON.UserName'| translate}}<div style="font-weight: bold; text-align: center;">{{userName}}</div></div>
    <div class="line"></div>
  </div>

  <split direction="horizontal">
    <split-area [size]="40">
      <split direction="vertical">
          <split-area [size]="30">
              <shop-items> </shop-items>
          </split-area>
          <split-area [size]="70">
              <shop-payment> </shop-payment>
          </split-area>
      </split>
    </split-area>
    <split-area [size]="60">
      <shop-articles> </shop-articles>
    </split-area>
  </split>
</div>

<div class="d-flex justify-content-start fixed-bottom pb-1 pl-1">
  <!-- <us-icon-button class="mr-1" (click)="openPayModel(payModal, false)" [isDisabled]="isPayDisable" [iconClass]="'icon-shop-pay'" [labelText]="'COMMON.Pay'| translate"></us-icon-button>
  <us-icon-button *ngIf="!isCashCustomerBtnHide" class="mr-1" (click)="openCashCustomer()" [isDisabled]="true" [iconClass]="'icon-shop-cash-customer'"
    [labelText]="'COMMON.CashCustomerC'| translate"></us-icon-button> -->
  <us-icon-button [isDisabled]="isCashWithdrawalDisable || !IsCashSalesActivated" class="mr-1" (click)="openCashWithdrawal(cashWithdrawalModal)" [iconClass]="'icon-shop-cash-withdrawal'"
    [labelText]="'COMMON.CashWithdrawal'| translate"></us-icon-button>
  <us-icon-button  *ngIf="!isDailySettlementBtnHide" class="mr-1" (click)="openDailySettlement(dailySettlementModal)" [iconClass]="'icon-shop-daily-settlement'"
    [labelText]="'COMMON.DailySettlement'| translate"></us-icon-button>
  <us-icon-button class="mr-1" (click)="openSalesHistory(salesHistoryModal)" [isDisabled]="isSalesHistoryDisable" [iconClass]="'icon-shop-sales-history'"
    [labelText]="'COMMON.SalesHistory'| translate"></us-icon-button>
  <us-icon-button [isDisabled]="!isBankTerminalActive || !IsCashSalesActivated" [iconClass]="'icon-shop-pay'" class="mr-3" (click)="openCashDrawer()" [labelText] = "'COMMON.OpenDrawer'| translate"></us-icon-button>
  <us-icon-button class="mr-1" [isDisabled]="!paymentAdded" (click)="savePayment()" [iconClass]="'icon-done'" [labelText]="'COMMON.Save'| translate"></us-icon-button>
  <!--<us-icon-button class="mr-1" (click)="openPayModel(payModal, true)" [iconClass]="'icon-done'" [labelText]="'COMMON.Save'| translate"></us-icon-button>-->
  <us-icon-button *ngIf="!isCancelBtnHide" (click)="cancelShop()" [iconClass]="'icon-cancel'" [labelText]="'COMMON.ExitShop'| translate"></us-icon-button>
</div>

<!-- <shop-payment *ngIf="!loadShopHome" (closePayment)="closePaymentView($event)"></shop-payment> -->


<ng-template #payModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Member Section' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (closeViewEvent)="closeMemberSelection()" (selectedItem)="selecteMember($event)" (addMemberEvent)="addMemberModal(addMemberModalView)"
      [multipleSelect]="false" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount"
      [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="isBranchVisible"
      [isStatusVisible]="isStatusVisible" [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible">

    </exce-entityselection>
  </div>
</ng-template>

<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntity($event)">
    </exce-addmember>
  </div>
</ng-template>

<ng-template #cashWithdrawalModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Withdrawal' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <cash-withdrawal (closeWithdrowalModel)="closeWithdrowalModel()"></cash-withdrawal>

  </div>

</ng-template>

<ng-template #dailySettlementModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.DailySettlement' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <daily-settlement (closeModel)="closeDailySettlement()"></daily-settlement>


  </div>

</ng-template>

<ng-template #salesHistoryModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">Sales History</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <sales-history></sales-history>
  </div>

</ng-template>


<ng-template #memberSelectionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'USER_PROFILE_MODEL.TITLE' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label> {{ 'USER_PROFILE_MODEL.USER_NAME' | translate }}</label>
          <input class="form-control" type="text">
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'SAVE'" (click)="submitForm(userProfileForm.value)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'CANCEL' | translate " (click)="c('Close click')"></us-icon-button>

  </div>
</ng-template>


<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message" >
</exce-fade-in-n-out>
