:host {
    display: block;
    width: 100%;
    min-height: 100%;
}


// scroller content basic
:host/deep/ .slimscroll-wrapper {
    width: 100% !important;
}

:host/deep/.scroll-content {
    height: calc(100vh - 190px);
    width: 100%;
}

//datepiker style min
 :host/deep/.mydp {
    .selection,
    .selbtngroup {
        height: 24px !important;
    }
    .selector {
        width: 230px !important;
    }
}
:host/deep/.intl-tel-input .country-list {
  width: 230px;
}
.link {
  color: #343a40;
  text-decoration: underline;
}


.indicateHyperlink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.prefix {
  width: 20%;
  text-align: center;
}

.mob {
  width: 80%;
  text-align: center;
}
