<b>GENERELLE VILKÅR FOR MEDLEMSKAP I SPENST GYLDIG FRA OG MED 1.1. 2018</b>
<p>
  Vilkårene er standard for kjeden, men det lokale senteret har mulighet til å legge ved enkelte særskilte vilkår for visse
  tjenester og visse tilbud. Slike særskilte vilkår legges tilgjengelig på det lokale senter og spenst.no.
</p>

<b>
  1. RETTIGHETER OG PLIKTER
</b>
<p>
  Spenst skal tilrettelegge et godt treningstilbud og holde apparater og utstyr i best mulig stand. Spenst skal etterstrebe
  et sundt og inspirerende treningsmiljø. Spenst fraskriver seg ethvert ansvar for tap og skader på personer eller gjenstander
  som oppstår under, eller som følge av opphold i senteret, med mindre senteret har opptrådt uaktsomt. Spenst vil kunne foreta
  adgangs-kontroll og sjekke og kreve kopi av ID på rabatterte medlemskap om nødvendig, for å påse at man har riktige betingelser.
</p>

<p>
  Medlemmet skal registrere seg ved ankomst før hver trening. Medlemmet forplikter seg til å følge den til enhver tid gjeldende
  trivselsregler, og anvisninger gitt av personalet. Personer under 18 år som ønsker å bli medlem i Spenst trenger foresattes
  oppmøte og signatur ved innmelding. Medlemmet er selv ansvarlig for å være helsemessig skikket til å trene. Medlemskapet
  er personlig og kan ikke disponeres av andre. Medlemmet er ansvarlig for å oppgi ny adresse ved flytting. Medlemmet er
  ansvarlig for ikke å bruke dopingpreparater som fremkommer av særskilt dopingliste for treningssentre. Bruk av dopingpreparater
  er kriminalisert jf. legemiddelloven § 24a, og slik bruk kan bli politianmeldt. Kontakt senteret for rutiner/regler ved
  dopingkontroll ved begrunnet mistanke.
</p>

<b>
  2. SPENST FRIENDS
</b>
<p>
  Spenst har et fordelsprogram som gir våre medlemmer rabatter ved kjøp av varer og tjenester fra Spenst og hos våre samarbeidspartnere
  gjennom programmet Spenst Friends. Medlemmer vil ha et elektronisk medlemskort via app. som viser at de er medlem av Spenst
  Friends og har rettighet på fordelene som fremkommer via programmet.
</p>

<b>
  Slik fungerer Spenst Friends
</b>

<p>
  Det er helt gratis å melde seg inn og være medlem i Spenst Friends. Som medlem samtykker du i at Spenst kan sende deg trenings
  tips, medlemsinformasjon, gode tilbud og relevant informasjon via push varsel, SMS og/eller e-post. Du velger selv i hvilke
  kanal du ønsker å bli kontaktet. SMS kan kun sendes til mobilabonnement som er tilknyttet det norske mobilnettet. For å
  bli medlem må du være over 16 år og ha adresse i Norge. Som medlem i Spenst Friends, samtykker du i at Spenst kan lagre
  person og kjøpsopplysninger om deg som grunnlag for medlemskampanjer. Medlemskapet er koblet mot ditt mobilnummer som også
  fungerer som identifikasjon i stedet for din medlems-ID. Spenst er ansvarlig for behandling og oppbevaring av dine personopplysninger.
  Spenst lagrer og behandler personopplysningene i forbindelse med statistikk, typisk som grunnlag for direktemarkedsføring.
  Informasjonen du oppgir benyttes kun av Spenst til å gi deg bedre service og tilbud. Personopplysninger utleveres aldri
  til utenforstående. Du har rett til å få informasjon om dine personopplysninger som er lagret hos Spenst, uansett hvordan
  disse er registrert. Du kan når som helst avslutte fordelsprogrammet - Spenst Friends. Dette kan gjøres via www.spenst.no,
  via e-post, via kodeord (Send Spenst STOPP til 2012) eller ved å kontakte kundeservice på post@spenst.no. Det er ingen
  bindingstid. Etter 6 uker vil alle dine personopplysninger bli slettet. Spenst forbeholder seg retten til å fravike dette
  punktet ved forsøk på svindel. Som medlem er du selv ansvarlig for å informere om endringer i kontaktinformasjon - som
  navn, adresse, mobilnr. og e-post. Spenst kan gjøre endringer i vilkårene for fordelsprogrammet - Spenst Friends. Endringene
  i vilkårene varsles til medlemmer senest 6 uker før endringene trer i kraft. Fordelsprogram Spenst Friends avtalen gjelder
  inntil den sies opp av en av partene.

</p>

<b>

  3. FORCE MAJEURE
</b>

<p>

  Skulle det oppstå en situasjon som gjør det umulig for Spenst å oppfylle sine forpliktelser i forbindelse med uttak av bonus,
  rabatter eller kjøp av produkter/tjenester, og som etter vanlige kjøpsrettslige regler regnes som Force Majeure, opphører
  den rammede parts forpliktelser så lenge den ekstraordinære situasjonen vedvarer.
</p>


<b>

  4. DATASIKKERHET OG BRUK I DIREKTEMARKEDSFØRING
</b>
<p>

  Den ansvarlige databehandleren er Spenst. Spenst lagrer, prosesserer og benytter dine personlige data, som navn, adresse,
  e-post og mobilnummer for å kunne verifisere ditt mobilnummer, sende tilbud og kontakte deg i forbindelse med ditt medlemskap
  i fordelsprogrammet- Spenst Friends. Ved å samtykke til elektronisk kommunikasjon (push/SMS/e-post) i Spenst Friends via
  registreringsskjema, samtykker du til at Spenst kan samle, prosessere og benytte dine personlige data til direktemarkedsføring,
  som utsendelse av medlemsinformasjon, trenings tips, rabattkoder, individuelle spesialtilbud og relevant informasjon rundt
  kampanjer og spesialtilbud. Denne kommunikasjonen vil bli brukt utelukkende til å gi deg bedre service, tilbud og en bedre
  kjøpsopplevelse hos oss i Spenst. Din personlige data vil ikke bli gitt videre til tredjeparter. Du har rett til å bli
  informert om dine personlige data som er lagret hos Spenst, uavhengig av hvordan det har blitt lagret. Du har mulighet
  til å kreve dine data slettet fra fordelsprogrammet - Spenst Friends til enhver tid.
</p>


<p>

  <b>Har du spørsmål om fordelsprogrammet Spenst Friends?</b> Send gjerne en e-post til vår kundeservice post@spenst.no eller
  ring oss.
</p>


<b>

  5. BETALING OG FRYS AV MEDLEMSKAP
</b>
<p>

  Den månedlige medlemsavgiften forfaller løpende til avtalt tidspunkt, med unntaksvis ved oppstart og utmelding, hvor særskilte
  og lokale vilkår gjelder. Medlemskapet kan fryses. Det enkelte medlemskapet har regler for dette. De normale grunnene for
  frys er sykdom, svangerskap/graviditet, militærtjeneste eller andre spesielle forhold som forhindrer trening på Spenst.
  Det gis ikke frys eller fritak for betaling ved ferieavvikling. Frys av kontraktsperioden gjelder minimum 1 og maks 12
  måneder. De første 12 mnd. varighet på medlemskapet forskyves med like mange mnd. som det gis fritak for. Særskilte og
  lokale vilkår gjelder for frys- eller pausegebyr.
</p>


<b>

  Ved avtalegiro som betalingsform
</b>
<p>

  Avtalegiro er en betalingsform hvor avtalt månedlig treningsavgift belastes medlemmets konto rundt den 20. i hver mnd. Avtalegirokontrakten
  er løpende, til en av partene sier opp avtalen. Medlemmet forplikter seg til å ha dekning på sin konto. Dersom den mnd.
  treningsavgiften ikke blir belastet grunnet manglende dekning, vil det bli lagt til en til enhver tid gjeldende påminnelse/fakturagebyr.
  Hvis avtalegiro fullmakten blir slettet i kontraktsperioden, vil resterende måneder forfalle til betaling. Ved fakturering
  tilkommer det et fakturagebyr. Særskilte og lokale vilkår gjelder i forhold til betaling ved oppstart og utmelding. Særskilte
  vilkår er tilgjengelig på lokalt senter.
</p>



<b>
  6. BEDRIFT, FORENING OG LAG
</b>

<p>

  Medlemskapet følger medlemmet. Om medlemmet har en bedriftsavtale og arbeidsforholdet opphører, overføres medlemskapet automatisk
  til ordinær medlemskapspris.
</p>

<b>
  7. AVTALEGIRO

</b>

<p>

  Medlemmet er selv ansvarlig for at AvtaleGiro avtalen er gyldig og aktiv. Ved endring av bankkonto, må medlemmet sikre at
  trekk går fra riktig konto. Medlemmet betaler treningsavgiften uavhengig av treningsmengde. Etter bindingstidens utløp,
  løper avtalen til den sies opp av en av partene.
</p>


<b>

  8. PRISENDRING OG PRISJUSTERING
</b>
<p>

  Spenst forbeholder seg retten til å årlig prisjustere løpende avtaler i henhold til konsumprisindeksen uten forutgående varsling.
</p>


<b>

  9. OPPSIGELSE
</b>
<p>

  Oppsigelse er en -1- måned regnet fra første månedsskifte etter den dato oppsigelsen er mottatt på senteret eller poststemplet.
  Oppsigelse bør skje skriftlig via e-post, brev eller ved oppmøte direkte på det lokale senteret man er innmeldt, da oppsigelsen
  bør kunne dokumenteres av begge parter.
</p>


<b>

  10. UTESTENGING
</b>
<p>

  Brudd på Spenst sine interne retningslinjer medfører utestengelse eller oppsigelse av medlemskapet med umiddelbar virkning.
  Brudd er tyveri fra senteret eller medlemmer. Brudd er helsemessig tilstand som medfører skader av tilbudet. Brudd er medlemmer
  som opptrer mot Spenst sine interesser og formål. Brudd er truende oppførsel ovenfor medlemmer og ansatte. Brudd er stadig
  manglende betaling og betalingsproblemer. Brudd er hærverk på Spenst sine lokaler og eiendeler. Brudd er å slippe inn mennesker
  som ikke er medlemmer under nøkkelkorttider. Brudd er når man ikke overholder trivselsreglene etter anmodning fra ansatte.
</p>


<b>

  11. KJØP AV MEDLEMSKAP UTENFOR VANLIG SALGSSTED
</b>
<p>

  Angrerettloven §10 gir 14 dager ubetinget angrerett.
</p>


<b>

  12. OPPHØR
</b>
<p>

  Det lokale senteret er ansvarlig for refusjon av forskuddsbetalt medlemskap, dersom lisens mellom kjededriver og kjedeeier
  opphører i kontraktstiden til medlemmet.
</p>


<b>

  13. TVIST
</b>
<p>

  Tvister mellom medlemmet og Spenst skal søkes løst i minnelighet. Dersom dette ikke føre frem, kan hver av partene bringe
  tvisten inn for det lokale verneting/domstol.
</p>
<b>

  14. SAMTYKKE
</b>
<p>

  Kryss av:
</p>
<p>
  (___) Jeg samtykker herved at Spenst kan innhente og bruke de personopplysninger som angis i denne avtalen, for å tilpasse
  tilbud, kommunikasjon, digitale tjenester og øvrige medlemsfordeler til meg og mine preferanser, slik som beskrevet i Spents
  generelle medlemsvilkår.

</p>
<p>
  (___) Jeg vil ha informasjon fra Spenst via SMS

</p>
<p>
  (___) jeg vil ha informasjon fra Spenst via E-post.

</p>


<p>

  Jeg har lest og forstått innholdet i denne kontrakten.
</p>