<div class="data-table-wrapper">

    <div class="data-table-box">
        <table class="table table-sm table-hover table-default data-table">
            <thead class="thead-primary">
                <tr>
                    <th [hide]="!expandColumnVisible" class="expand-column-header"></th>
                        <th [hide]="!indexColumnVisible" class="index-column-header">
                            <span [textContent]="indexColumnHeader"></span>
                        </th>
                        <th [hide]="!selectColumnVisible" class="select-column-header">
                            <span class="d-block" [hide]="!multiSelect"><label class="custom-control custom-checkbox m-0" >
                                    <input type="checkbox" class="custom-control-input"  [(ngModel)]="selectAllCheckbox">
                                    <span class="custom-control-indicator"></span>
                            </label>
                            </span>
                        </th>
                        <th *ngFor="let column of columns" #th [hide]="!column.visible" (click)="headerClicked(column, $event)" [class.sortable]="column.sortable"
                            [class.resizable]="column.resizable" [ngClass]="column.styleClassObject" class="column-header" [style.width]="column.width | px"
                            [style.text-align]="column.alignment">
                            <span *ngIf="column.sortable" class="sortable">
                              <span *ngIf="!column.headerTemplate" [textContent]="column.header"></span>
                              <span *ngIf="column.headerTemplate" [ngTemplateOutlet]="column.headerTemplate" [ngTemplateOutletContext]="{column: column}"></span>
                              <span class="column-sort-icon sortable" *ngIf="column.sortable">
                                <span [hide]="column.property !== sortBy">
                                  <span class="icon-sort-ascending" [hide]="sortAsc"></span>
                                  <span class="icon-sort-descending" [hide]="!sortAsc"></span>
                                </span>
                              </span>
                            </span>
                            <span *ngIf="!column.sortable">
                              <span *ngIf="!column.headerTemplate" [textContent]="column.header"></span>
                              <span *ngIf="column.headerTemplate" [ngTemplateOutlet]="column.headerTemplate" [ngTemplateOutletContext]="{column: column}"></span>
                            </span>
                            <span *ngIf="column.resizable" class="column-resize-handle" (mousedown)="resizeColumnStart($event, column, th)"></span>

                        </th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let item of items; let index=index; let last=last" class="data-table-row-wrapper" dataTableRow #row [item]="item" [index]="index"
                    (selectedChange)="onRowSelectChanged(row)">{{last ? hidePreloader(item) :''}}{{index==0?showPreLoader():''}}</tr>

                </tbody>


        </table>
        <div class="loading-cover" *ngIf="showReloading && reloading"></div>
    </div>

    <data-table-pagination *ngIf="pagination"></data-table-pagination>
</div>
