:host /deep/ .table-default {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 222px);
  width: 100%;
}

:host /deep/ .table-default tbody {
  display: block;
  overflow-y: scroll;
  flex: 1 1 auto;
}

:host /deep/ .table-default thead,
:host /deep/ .table-default tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  cursor: pointer;
}

:host /deep/ .table-default thead {
  width: calc( 100% - 1.3em);
}

.textAr{
  border: none;
  background-color: transparent;
  white-space: pre-line;
}

.eventTitle{
  color: #4d8693;
  font-size: 120%
}
