<form [formGroup]="resignContract">
  <div class="d-flex no-gutters">
    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.ResignDate' | translate }}</label>
        <us-date-picker style="width: 200px;" [locale]="'COMMON.Locale'| translate" formControlName="ResignDate"> </us-date-picker>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.ResignCategory' | translate }}
            <strong class="text-danger">*</strong>
        </label>
        <select class="custom-select w-100" formControlName="ResignCategory"
        us-error [errorMsg]="formErrors.ResignCategory" [displayError]="resignFormSubmited && !resignContract.get('ResignCategory').valid"
        placement="right" (change)="categorySelected($event)">
          <option *ngFor="let item of resignCategories" [value]="item.Id">{{item.Name | translate}}</option>
        </select>

      </div>
    </div>
    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.ContractEndDate' | translate }}</label>
        <us-date-picker style="width: 200px;" [locale]="'COMMON.Locale'| translate" formControlName="ContractEndDate"> </us-date-picker>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.LockedUntil' | translate }}</label>
        <us-date-picker style="width: 200px;" [locale]="'COMMON.Locale'| translate" formControlName="LockInPeriodUntilDate"
        > </us-date-picker>
      </div>
    </div>
    <div class="col-2">
      <div *ngIf="isMemberFee" class="form-group">
        <label>{{ 'MEMBERSHIP.MemberFee' | translate }}</label>
        <input class="form-control" formControlName="MemberFeeArticleName">
      </div>
    </div>
  </div>
</form>

<div class="d-flex no-gutters">
  <ag-grid-angular
  class="ag-theme-balham grid"
  [rowData]="installments"
  [columnDefs]="orderDefs"
  [enableSorting]="true"
  [enableColResize]="true"
  [enableFilter]="false"
  [floatingFilter]="false"
  [suppressCellSelection] ="true"
  [suppressNoRowsOverlay]="true"

  [rowClassRules]="rowClassRules"

  [suppressRowClickSelection]="true"
  [rowSelection]="'multiple'"

  (gridReady)="onGridReady($event)"
  (cellClicked)="cellClickedOrder($event)"
  (rowSelected)="ordersSelected($event)"
  >
  </ag-grid-angular>
  <!-- <us-data-table
  (reload)="reloadInstallments($event)"
  [items]="installments"
  [rowColors]="rowColors"
  #datatable
  [multiSelect]="false"
  [sortBy]="'InstallmentNo'"
  [selectOnRowClick]="true"
  (rowClick) = "selectRow($event.row.item)"
  [limit]="limit"
   >
    <data-table-column [property]="'InstallmentNo'" header="{{ 'MEMBERSHIP.No' | translate }}" [sortable]="true" [width]="50">
    </data-table-column>
    <data-table-column [property]="'Text'" header="{{ 'MEMBERSHIP.Text' | translate }}" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="'ServiceAmount'" header="{{ 'MEMBERSHIP.ServiceAmount' | translate }}" [sortable]="true" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ServiceAmount | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ItemAmount'" header="{{ 'MEMBERSHIP.ItemAmount' | translate }}" [sortable]="true" [resizable]="true"
      [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ItemAmount | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Amount'" header="{{ 'MEMBERSHIP.OrderAmount' | translate }}" [sortable]="true" [resizable]="true"
      [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.Amount | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'DueDate'" header="{{ 'MEMBERSHIP.DueDate' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.DueDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="" header="" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" [disabled]="!IsOrderOptionsEnabled" title="{{'MEMBERSHIP.CheckOut' | translate}}">
          <span class="icon-checkout"></span>
        </button>
        <button class="btn btn-primary btn-icon-min" [disabled]="!IsOrderOptionsEnabled" title="{{'MEMBERSHIP.crSmsEmail' | translate}}">
          <span class="icon-sms"></span>
        </button>
        <button class="btn btn-primary btn-icon-min" [disabled]="!IsOrderOptionsEnabled" title="{{'MEMBERSHIP.Invoice' | translate}}">
          <span class="icon-invoice"></span>
        </button>
        <button class="btn btn-primary btn-icon-min" (click)="openOrderDetails(orderDetails, item)" title="{{'MEMBERSHIP.Detail' | translate}}">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<div class="d-flex no-gutters mt-1">
  <div class="form-inline">
    <us-icon-button class="mr-1" (click)="deleteInstallment()" [iconBgClass]="'bg-danger'" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.DeleteOrders' | translate "></us-icon-button>
    <us-icon-button [isDisabled]="!enableSave" (click)="resignFormSubmited = true; saveResination(communicationChannel)" class="mr-1" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
    <us-icon-button class="mr-1" (click)="cancelResign()" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>
  </div>
</div>

<ng-template #orderDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.OrderDetailsView' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <order-details-view [selectedOrder]="selectedOrder" [IsViewEnabled]="memberContract.IsMemberContract" [isaEnableShopOperations]="false" (closeOrderDetailModel)="closeModelRef()"
    (orderUpdateSuccessEvent)="orderUpdateSuccess()"></order-details-view>
</ng-template>

<ng-template #communicationChannel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.CommunicationChannel' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="model-body ml-1">
    <label>{{ 'MEMBERSHIP.SelectChannel' | translate }}</label>
    <select class="custom-select" (change)="onCMChange($event.target.value)" >
      <option *ngFor="let item of tempCommunicationMethods" value="{{item}}">{{item.Name | translate}}</option>
    </select>
  </div>
  <div class="modal-footer ">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate" (click)="saveResignContract()"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate" (click)="cmModelClose()"></us-icon-button>
  </div>

</ng-template>


  <!-------------------------------------------------------------------------------------------->

  <exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo" [information]="message"></exce-fade-in-n-out>
