:host /deep/ .table-default {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 219px);
  width: 100%;
}

:host /deep/ .table-default tbody {
  display: block;
  overflow-y: scroll;
  flex: 1 1 auto;
}

:host /deep/ .table-default thead,
:host /deep/ .table-default tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

:host /deep/ .table-default thead {
  width: calc( 100% - 1.3em);
}

.btn-alignment{
  float: right; margin-right: -28px;
}

.grid {
  height: calc(100vh - 190px);
  width: 100%;
}

.body {
  display: flex;
  flex-flow: column;
}
