<form [formGroup]="ReportSettingsForm">
  <div class="d-flex no-gutters mx-2">
    <div class="col-4 mr-2">

      <div class="form-group">
        <label>{{'REPORT.SettingReportServiceURL' | translate}}</label>
        <input class="form-control" formControlName="ReportServiceURL" type="text">
      </div>

      <div class="form-group">
        <label>{{'REPORT.SettingUserName' | translate}}</label>
        <input class="form-control" formControlName="UserName" type="text">
      </div>

      <div class="form-group">
        <label>{{'REPORT.SettingPassword' | translate}}</label>
        <input class="form-control" formControlName="Password" type="text">
      </div>

    </div>

    <div class="col-4 mr-2">

      <div class="form-group">
        <label>{{'REPORT.SettingFileUploadHandlerPath' | translate}}</label>
        <input class="form-control" formControlName="FileUploadHandlerPath" type="text">
      </div>

      <div class="form-group">
        <label>{{'REPORT.SettingRecordCount' | translate}}</label>
        <input class="form-control" formControlName="RecordCount" type="text">
      </div>

    </div>

  </div>
</form>

<div class="d-flex mx-2 mt-2">
  <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'REPORT.SelectionScreenBtnSave' | translate" (click)="saveReportSettingDetails(ReportSettingsForm.value)"></us-icon-button>
</div>