:host /deep/ .header-fix-table {
    display: flex;
    flex-flow: column;
    height: 185px;
    width: 100%;
  }
  
  :host /deep/ .header-fix-table tbody {
    display: block;
    overflow-y: scroll;
    flex: 1 1 auto;
  }
  
  :host /deep/ .header-fix-table thead,
  :host /deep/ .header-fix-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  :host /deep/ .header-fix-table thead {
    width: calc( 100% - 1.3em);
  }