
<td [hide]="!dataTable.expandColumnVisible" (click)="expanded = !expanded; $event.stopPropagation()" class="row-expand-button"
    (click)="dataTable.rowClicked(_this, $event)" (dblclick)="dataTable.rowDoubleClicked(_this, $event)">
    <span class="glyphicon glyphicon-triangle-right" [hide]="expanded"></span>
    <span class="glyphicon glyphicon-triangle-bottom" [hide]="!expanded"></span>
</td>
<td [hide]="!dataTable.indexColumnVisible" class="index-column" [textContent]="displayIndex" (click)="dataTable.rowClicked(_this, $event)"
    (dblclick)="dataTable.rowDoubleClicked(_this, $event)"></td>
<td [hide]="!dataTable.selectColumnVisible" class="select-column" (click)="dataTable.rowClicked(_this, $event)" (dblclick)="dataTable.rowDoubleClicked(_this, $event)">

    <label class="custom-control custom-checkbox m-0">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="selected">
        <span class="custom-control-indicator"></span>
    </label>
</td>

<td *ngFor="let column of dataTable.columns" [hide]="!column.visible" [ngClass]="column.styleClassObject" class="data-column"
    [style.background-color]="dataTable.getRowColor(item, index, _this)" [class.row-odd]="index % 2 === 0" [class.row-even]="index % 2 === 1"
    [class.selected]="selected" [class.clickable]="dataTable.selectOnRowClick" [style.textAlign]="column.alignment" (click)="dataTable.rowClicked(_this, $event)"
    (dblclick)="dataTable.rowDoubleClicked(_this, $event)" [style.width]="column.width | px">
    <div *ngIf="!column.cellTemplate" [textContent]="item[column.property]"></div>
    <div *ngIf="column.cellTemplate" [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="{column: column, row: _this, item: item}"></div>
</td>