<form [formGroup]="searchForm">
  <div class="d-flex justify-content-start px-1 no-gutters">

    <div class="col-2 mr-1">
      <label>{{'ECONOMY.AccountingSystem' | translate}}</label>
      <select class="custom-select col-md-3 cursor-hand"  [formControl]="selectedAccount" >
      <option *ngFor="let accounts of accountingSystem"  >{{accounts.name}}</option>

      </select>
    </div>
    <div class="col-3 mr-1">
      <label>{{'ECONOMY.Date' | translate}}</label>
      <div class="input-group">

        <us-date-picker class="w-100" name="fromDate" #fromDate formControlName='startDate' [locale]="'ADMIN.Locale'| translate"
         >
        </us-date-picker>

        <span class="input-group-addon border-left-0">{{'ECONOMY.To' | translate}}</span>
        <us-date-picker class="w-100 mr-2" name="toDate" #toDate formControlName='endDate' [locale]="'ADMIN.Locale'| translate" >
        </us-date-picker>

      </div>



    </div>
      <div class=" mt-4">

          <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="openGenerateAccountModal(AccountInfo)"  >{{ 'ECONOMY.AccountSettings' | translate }}</button>

       </div>


  </div>

</form>

<div class="d-flex px-1 mt-1">
  <us-data-table id="kasselist" [items]="kasselist" [pagination]="false" >
    <data-table-column [property]="'BranchName'" header="{{ 'ECONOMY.BranchName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'VoucherDate'" header="{{ 'ECONOMY.VoucherDate' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchId'" header="{{ 'ECONOMY.BranchID' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'CompanyIdSalary'" header="{{ 'ECONOMY.CompanyIdSalary' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'AccountNo'" header="{{ 'ECONOMY.AccountNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'AccountName'" header="{{ 'ECONOMY.AccountName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'CategoryId'" header="{{ 'ECONOMY.CategoryId' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'CategoryName'" header="{{ 'ECONOMY.CategoryName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'VATRate'" header="{{ 'ECONOMY.VATRate' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'TotalSum'" header="{{ 'ECONOMY.TotalSum' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'IsPayment'" header="{{ 'ECONOMY.IsPayment' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

  </us-data-table>
</div>
<div class="row">
  <div class="d-flex px-1 mt-2">
    <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="kassefil()"  >{{ 'ECONOMY.View' | translate }}</button>
  </div>

  <div class="d-flex px-1 mt-2">
    <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="openGenerateExportModal(Exportfile)"  >{{ 'ECONOMY.Export' | translate }}</button>
  </div>
</div>

<ng-template #Exportfile let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ "Export File Option" }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
    <div class="modal-body">
      <div class="row">
      </div>
      <hr class="hr-dashed">
      <div class="col">
        <div class="form-group">
          <label>{{ 'ECONOMY.FileName' | translate }}</label>
          <input type="text" #file [formControl]="fileName" class="form-control col-md-4 mr-1"  >
        </div>
      </div>
      <hr class="hr-dashed">

      <div class="row">
        <div class="col">
          <button class="btn btn-primary mr-1" (click)="exportToFileFunc()" type="button">{{ 'ECONOMY.Execute' | translate }}</button>
        </div>
      </div>
    </div>

</ng-template>

<ng-template #AccountInfo let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{ 'ECONOMY.AccountInfo' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
      <div class="modal-body" >
          <table style="width:100%">
              <tr>
                <th>{{'ECONOMY.AccountName' | translate}}</th>

                <th>{{'ECONOMY.AccountNo' | translate}}</th>

                <th>{{'ECONOMY.Description' | translate}}</th>

              </tr>

              <tr>
                <td>{{accountnames[0]}}</td>
                <td>{{accountnumbers[0]}}</td>
                <td>{{description[0]}}</td>
                <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[0])" type="button">{{'ECONOMY.Change' | translate}}</button>
            </tr>

              <tr>
                  <td>{{accountnames[1]}}</td>
                  <td>{{accountnumbers[1]}}</td>
                  <td>{{description[1]}}</td>
                  <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[1])" type="button">{{'ECONOMY.Change' | translate}}</button>
              </tr>

              <tr>
                  <td>{{accountnames[2]}}</td>
                  <td>{{accountnumbers[2]}}</td>
                  <td>{{description[2]}}</td>
                  <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[2])" type="button">{{'ECONOMY.Change' | translate}}</button>
              </tr>

                <tr>
                    <td>{{accountnames[3]}}</td>
                    <td>{{accountnumbers[3]}}</td>
                    <td>{{description[3]}}</td>
                    <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[3])" type="button">{{'ECONOMY.Change' | translate}}</button>
                </tr>

                  <tr>
                      <td>{{accountnames[4]}}</td>
                      <td>{{accountnumbers[4]}}</td>
                      <td>{{description[4]}}</td>
                      <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[4])" type="button">{{'ECONOMY.Change' | translate}}</button>
                  </tr>

              <tr>
                  <td>{{accountnames[5]}}</td>
                  <td>{{accountnumbers[5]}}</td>
                  <td>{{description[5]}}</td>
                  <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[5])" type="button">{{'ECONOMY.Change' | translate}}</button>
              </tr>

              <tr>
                  <td>{{accountnames[6]}}</td>
                  <td>{{accountnumbers[6]}}</td>
                  <td>{{description[6]}}</td>
                  <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[6])" type="button">{{'ECONOMY.Change' | translate}}</button>
              </tr>

              <tr>
                  <td>{{accountnames[7]}}</td>
                  <td>{{accountnumbers[7]}}</td>
                  <td>{{description[7]}}</td>
                  <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[7])" type="button">{{'ECONOMY.Change' | translate}}</button>
              </tr>

              <tr>
                  <td>{{accountnames[8]}}</td>
                  <td>{{accountnumbers[8]}}</td>
                  <td>{{description[8]}}</td>
                  <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[8])" type="button">{{'ECONOMY.Change' | translate}}</button>
              </tr>

              <tr>
                  <td>{{accountnames[9]}}</td>
                  <td>{{accountnumbers[9]}}</td>
                  <td>{{description[9]}}</td>
                  <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[9])" type="button">{{'ECONOMY.Change' | translate}}</button>
              </tr>

                <tr>
                    <td>{{accountnames[10]}}</td>
                    <td>{{accountnumbers[10]}}</td>
                    <td>{{description[10]}}</td>
                    <button class= "btn btn-primary mr-1" (click) = "openGenerateConfirmModal(Confirmationwindow,description[10])" type="button">{{'ECONOMY.Change' | translate}}</button>
                </tr>

          </table>

      </div>

</ng-template>

<ng-template #Confirmationwindow let-c="close" let-d="dismiss">
      <div class="modal-header">
        <span class="modal-title">{{ 'ECONOMY.Changeaccountnumber' | translate}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
      </div>
        <div class="modal-body">
            <div class="input-group">
                <input  type="text"  #n class="form-control col-md-4 mr-1" >
            <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="addaccount(n.value)"  >{{ 'ECONOMY.Update' | translate }}</button>
        </div>
        </div>


</ng-template>
