<div class="row no-gutters">
  <div class="col-7">
    <div class="row">
      <div class="col-3">
        <div class="from-group">
          <label>Activity</label>
          <div class="input-group">
            <select class="custom-select w-100">
                <option value="1">Norway</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
          </select>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="from-group">
          <label>Start Date</label>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="col-2">
        <div class="from-group">
          <label>End Date</label>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="col">
        <div class="from-group">
          <label>Reason</label>
          <textarea class="form-control" rows="1"></textarea>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row no-gutters mb-1">
  <div class="col-7">
    <div class="row">

      <div class="col-3">
        <div class="from-group">
          <label>Start Time</label>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="col-2">
        <div class="from-group">
          <label>End Time</label>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col">
        <div class="from-group">
          <label>&nbsp;</label>
          <us-icon-button [iconClass]="'icon-done'" [labelText]="'Add'"></us-icon-button>
        </div>

      </div>

  </div>
  </div>
</div>

<us-data-table items="items">
  <data-table-column property="activity" header="Activity">
  </data-table-column>
  <data-table-column property="startDate" header="Start Date">
  </data-table-column>
  <data-table-column property="endDate" header="End Date">
  </data-table-column>
  <data-table-column property="startTime" header="Start Time">
  </data-table-column>
  <data-table-column property="endTime" header="End Time">
  </data-table-column>
  <data-table-column property="edit" header="">
  </data-table-column>
  <data-table-column property="remove" header="">
  </data-table-column>
</us-data-table>

<div class="row no-gutters mt-1">
  <div class="col">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'Save'"></us-icon-button>
  </div>
</div>
