:host .gym-sms-set-content {
    display: block;
    overflow: hidden;
    height: calc(100vh - 246px);
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    .col-2, .col-3{
        min-width: 250px
    }
}


.sms-set-tab-scroller{
    overflow: auto;
    height: calc(100vh - 285px);
    display: block;
}


:host /deep/ .data-table td{
    overflow: inherit !important;
}

.custom-checkbox{
  cursor: pointer;
}
