<div class="d-flex justify-content-start no-gutters">
  <div class="col-1 mr-2">
    <div class="form-group">
      <label>{{ 'ADMIN.SMSID' | translate }}</label>
      <input disabled type="text" class="form-control mr-2" [value]="currentId">
    </div>
  </div>
  <div class="col-3 mr-2">
    <div class="form-group">
      <label>{{ 'ADMIN.SenderName' | translate }}</label>
      <input #senderName (blur)="senderNameChange($event)" type="text" class="form-control mr-2" [value]="currentName">
    </div>
  </div>
</div>

<form class="mr-1" [formGroup]="smsSettingsForm" #smsFrm>
  <div class="gym-sms-set-content">

    <us-tab>

      <tab-content [tabTitle]="'ADMIN.AutomatedSmsC' | translate">
        <div class="sms-set-tab-scroller">
          <div class="d-flex mt-2">
            <div class="col-2 mr-2">
              <div class="form-group">
                <label>{{ 'ADMIN.LastVisit' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['LastvisitInterval']" [exceError]="smsSettingsForm.controls['LastvisitInterval']">
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsBirthday']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsBirthday' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsBookingReminder']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsBookingReminder' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.ATGNotApprovedInterval1' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['ATGNotApprovedInterval1']" [exceError]="smsSettingsForm.controls['ATGNotApprovedInterval1']">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.ATGNotApprovedInterval2' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['ATGNotApprovedInterval2']" [exceError]="smsSettingsForm.controls['ATGNotApprovedInterval2']">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.ATGNotApprovedInterval3' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['ATGNotApprovedInterval3']" [exceError]="smsSettingsForm.controls['ATGNotApprovedInterval3']">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.ContractEnding' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['ContractEnding']" [exceError]="smsSettingsForm.controls['ContractEnding']">
              </div>
            </div>

            <div class="col-3 mr-2">
              <div class="form-group">
                <label>{{ 'ADMIN.ReminderDaysInterval' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['ReminderDaysInterval']" [exceError]="smsSettingsForm.controls['ReminderDaysInterval']">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.NovisitsIntervalMessage1' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['NovisitsIntervalMessage1']" [exceError]="smsSettingsForm.controls['NovisitsIntervalMessage1']">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.NovisitsIntervalMessage2' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['NovisitsIntervalMessage2']" [exceError]="smsSettingsForm.controls['NovisitsIntervalMessage2']">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.DaysBeforeFreezeEnds' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['DaysBeforeFreezeEnds']" [exceError]="smsSettingsForm.controls['DaysBeforeFreezeEnds']">
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsPriceChange']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsPriceChange' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsReorderingShop']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsReorderingShop' | translate }}</span>
                </label>
              </div>
            </div>


          </div>
        </div>
      </tab-content>

      <tab-content [tabTitle]="'ADMIN.SMSinAccessControl' | translate">
        <div class="sms-set-tab-scroller">
          <div class="d-flex">
            <div class="col-3 mt-2 mr-2">
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessFreeze']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessFreeze' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessOutsideProfile']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessOutsideProfile' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessClosedPeriod']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessClosedPeriod' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessClosedOutsideOpenHours']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessClosedOutsideOpenHours' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessDuebalance']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessDuebalance' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessDueUnpaid']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessDueUnpaid' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessDueOnAccount']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessDueOnAccount' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessRecentlyVisit']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessRecentlyVisit' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessInfoAntiDoping']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessInfoAntiDoping' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessInfoContractEnds']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessInfoContractEnds' | translate }}</span>
                </label>
              </div>

            </div>

            <div class="col-3 mt-2 mr-2">
              <div class="form-group">
                <label>{{ 'ADMIN.AccessInfoPunchesLowestNo' | translate }}</label>
                <input type="text" class="form-control" [formControl]="smsSettingsForm.controls['AccessInfoPunchesLowestNo']" [exceError]="smsSettingsForm.controls['AccessInfoPunchesLowestNo']">
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessInfoIsFollowUpPopUp']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessInfoIsFollowUpPopUp' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" [formControl]="smsSettingsForm.controls['IsAccessInfoInformTrainer']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.IsAccessInfoInformTrainer' | translate }}</span>
                </label>
              </div>
            </div>


          </div>
        </div>

      </tab-content>

      <tab-content [tabTitle]="'ADMIN.SMSPara' | translate">
          <div class="sms-set-tab-scroller p-1">
        <div class="d-flex no-gutters  mt-2">
          <div class="col-3">
            <span>{{ 'ADMIN.SMSSendingTimes' | translate }}</span>
          </div>
          <div class="col">
            <us-icon-button class="float-right" [iconClass]="'icon-add'" [labelText]="'ADMIN.ADD' | translate " (click)="addSendingItem()"></us-icon-button>
          </div>
        </div>

        <div class="mt-1">
            <us-data-table #memberList id="persons-grid" [items]="sendingTimesItems" [itemCount]="sendingTimesCount">
              <data-table-column [property]="''" [header]="'ADMIN.FromTime' | translate" [width]="120">
                <ng-template #dataTableCell let-item="item">
                  <us-time-picker [selectedTime]="item.SendAfterTime" [(ngModel)]="item.SendAfterTime" [ngModelOptions]="{standalone: true}"
                    [isDateTime]="'true'"></us-time-picker>
                </ng-template>
              </data-table-column>
              <data-table-column [property]="''" [header]="'ADMIN.DayS' | translate" >

                <ng-template #dataTableCell let-item="item">
                  <label class="custom-control custom-checkbox checkbox-inline">
                    <input type="checkbox" class="custom-control-input" [checked]="item.IsMonday" (change)="item.IsMonday = !item.IsMonday">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.MONDAY'| translate}}</span>
                  </label>
                  <label class="custom-control custom-checkbox checkbox-inline">
                    <input type="checkbox" class="custom-control-input" [checked]="item.IsTuesday" (change)="item.IsTuesday = !item.IsTuesday">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.TUESDAY'| translate}}</span>
                  </label>
                  <label class="custom-control custom-checkbox checkbox-inline">
                    <input type="checkbox" class="custom-control-input" [checked]="item.IsWednesday" (change)="item.IsWednesday = !item.IsWednesday">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.WEDENSDAY'| translate}}</span>
                  </label>
                  <label class="custom-control custom-checkbox checkbox-inline">
                    <input type="checkbox" class="custom-control-input" [checked]="item.IsThursday" (change)="item.IsThursday = !item.IsThursday">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.THURSDAY'| translate}}</span>
                  </label>
                  <label class="custom-control custom-checkbox checkbox-inline">
                    <input type="checkbox" class="custom-control-input" [checked]="item.IsFriday" (change)="item.IsFriday = !item.IsFriday">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.FRIDAY'| translate}}</span>
                  </label>
                  <label class="custom-control custom-checkbox checkbox-inline">
                    <input type="checkbox" class="custom-control-input" [checked]="item.IsSaturday" (change)="item.IsSaturday = !item.IsSaturday">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.SATURDAY'| translate}}</span>
                  </label>
                  <label class="custom-control custom-checkbox checkbox-inline">
                    <input type="checkbox" class="custom-control-input" [checked]="item.IsSunday" (change)="item.IsSunday = !item.IsSunday">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.SUNDAY'| translate}}</span>
                  </label>
                </ng-template>
              </data-table-column>
              <data-table-column [property]="''" [header]="" [width]="50">
                <ng-template #dataTableCell let-item="item">
                  <button class="btn btn-danger btn-icon-min" (click)="deleteSendingItem(item)"><span class="icon-cancel"></span></button>
                </ng-template>
              </data-table-column>


            </us-data-table>
        </div>

        <div class="d-flex no-gutters mt-2">
          <div class="col-3">
            <span>{{ 'ADMIN.NoSMS' | translate }}</span>
          </div>
          <div class="col">
            <us-icon-button class="float-right" [iconClass]="'icon-add'" [labelText]="'ADMIN.ADD' | translate " (click)="addProhibitedItem()"></us-icon-button>
          </div>
        </div>

        <div class="mt-1">
            <us-data-table #memberList id="persons-grid" [items]="prohibitedTimesItems" [itemCount]="prohibitedTimesCount">
              <data-table-column [property]="'StartDate'" [header]="'ADMIN.FromTime' | translate" [width]="120">
                <ng-template #dataTableCell let-item="item">
                  <us-time-picker [selectedTime]="item.StartDate" [(ngModel)]="item.StartDate" [ngModelOptions]="{standalone: true}" [isDateTime]="'true'"></us-time-picker>
                </ng-template>
              </data-table-column>
              <data-table-column [property]="'EndDate'" [header]="'ADMIN.ToTime' | translate" [width]="120">
                <ng-template #dataTableCell let-item="item">
                  <us-time-picker [selectedTime]="item.EndDate" [(ngModel)]="item.EndDate" [ngModelOptions]="{standalone: true}" [isDateTime]="'true'"></us-time-picker>
                </ng-template>
              </data-table-column>
              <data-table-column [property]="'Comment'" [header]="'ADMIN.Comment' | translate" >
                <ng-template #dataTableCell let-item="item">
                  <textarea class="form-control" type="text" rows="1" triggers="manual" container="body" placement="right" [value]="item.Comment" [(ngModel)]="item.Comment"
                    [ngModelOptions]="{standalone: true}"></textarea>
                </ng-template>
              </data-table-column>
              <data-table-column [property]="''" [header]="" [width]="50">
                <ng-template #dataTableCell let-item="item">
                    <button class="btn btn-danger btn-icon-min" (click)="deleteProhibitedItem(item)"><span class="icon-cancel"></span></button>
                </ng-template>
              </data-table-column>


            </us-data-table>
        </div>

        </div>
      </tab-content>
    </us-tab>

  </div>

  <div>
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSettings(smsSettingsForm.value)"
      [isDisabled]="!smsSettingsForm.valid"></us-icon-button>
  </div>
</form>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"[information]="message"></exce-fade-in-n-out>
