<div class="d-flex px-1">

  <div class="form-group mr-2">
    <label>{{'ADMIN.TaskTypeC' | translate}}</label>
    <select class="form-control custom-select cursor-hand">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of taskTypes" value="{{item.id}}">{{item.name | translate}}</option>
    </select>
  </div>
</div>
<div class="calendar-tool-bar d-flex justify-content-between p-1" (click)="hideContextMenu()">
  <div class="btn-group mr-2" (click)="onButtonGroupClick($event)">
    <button type="button" (click)="selectDateRange('TODAY', scheduler)" title="{{'CLASS.Today' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-today active"></button>
    <button type="button" (click)="selectDateRange('DAYVIEW', scheduler)" title="{{'CLASS.DayView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-day"></button>
    <button type="button" (click)="selectDateRange('WEEKVIEW', scheduler)" title="{{'CLASS.WeekView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-week"></button>
    <button type="button" (click)="selectDateRange('MONTHVIEW', scheduler)" title="{{'CLASS.MonthView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-month"></button>
    <button type="button" (click)="loadResourceView(scheduler)" title="{{'CLASS.WeekPlan' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-timeline"></button>
  </div>




  <div class="d-flex align-items-center">
    <h5 *ngIf="!isShowTimeDuration" class="text-white mb-0 fw-l">{{calandarDate | date:('COMMON.DateFormat'|translate)}}</h5>
    <h5 *ngIf="isShowTimeDuration" class="text-white mb-0 fw-l">
      {{calandarDateRange.start | date:('COMMON.DateFormat'|translate)}}
      <span class="px-2">{{ 'CLASS.To' | translate }}</span>
      {{calandarDateRange.end | date:('COMMON.DateFormat'|translate)}}
    </h5>
  </div>
  <div>
    <div class="btn-group">
      <button type="button" (click)="loadPriviousDay(scheduler)" class="btn btn-primary btn-icon-cal icon-calendar-backrange"></button>
      <span class="input-group-addon cal-input-group-addon">
        <span class="group-addon-mt">
          <form [formGroup]="dateFilterForm">
            <us-date-picker style="width: 200px;" formControlName="fromDate" [locale]="'COMMON.Locale'| translate" (dateChanged)="onDateChanged($event, scheduler)">
            </us-date-picker>
          </form>
        </span>
      </span>
      <button type="button" (click)="loadNextDay(scheduler)" class="btn btn-primary btn-icon-cal icon-calendar-nextrange"></button>
    </div>
  </div>
</div>


<div class="d-flex no-gutters my-cal-slipt-content">
    <split direction="horizontal">
        <split-area >
            <div class="col p-0">
                <exce-scheduler #scheduler [events]="events" [header]="false" [allDaySlot]="false" [defaultView]="viewType" [editable]="false" [fixedWeekCount]="false"
                  [eventLimit]="true" [scrollTime]="scrollTime" [droppable]="true" [slotEventOverlap]="false" [eventRender]="eventRender"
                  [dayRender]="dayRender" (onEventMouseover)="mouseOver($event, scheduler)" (onEventMouseout)="mouseOut($event)"
                  (onEventRightclick)="onEventRightclick($event)" [resources]="resources" [selectable]="true" [views]="views" [resourceLabelText]="'CLASS.mClasses' | translate"
                  [resourceAreaWidth]="resourceAreaWidth">
                </exce-scheduler>
                <span class="task-btn-position">
                    <a class="btn btn-link cursor-hand" style="height: 31px;" (click)="openRightPanel()" title="{{'ADMIN.Task' | translate}}">
                        <strong>{{'ADMIN.Task' | translate}} </strong> <span class="icon-list"></span>
                    </a>
                  </span>
              </div>
        </split-area>
        <split-area [size]="50" *ngIf="isOpenRightPanel">

                <app-cal-right-panel [entityId]="entityId"></app-cal-right-panel>

        </split-area>
        </split>




</div>
