<div class="calendar-tool-bar d-flex justify-content-between p-1" (click)="hideContextMenu()">
  <div class="btn-group mr-2" (click)="onButtonGroupClick($event)">
    <button type="button" (click)="selectDateRange('TODAY', scheduler)" title="{{'CLASS.Today' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-today active"></button>
    <!-- <button type="button" (click)="selectDateRange('BACK')" class="btn btn-primary btn-icon-cal icon-calendar-backrange"></button> -->
    <!-- <button type="button" (click)="selectDateRange('NEXTRANGE', scheduler)" class="btn btn-primary btn-icon-cal icon-calendar-nextrange"></button> -->
    <button type="button" (click)="selectDateRange('DAYVIEW', scheduler)" title="{{'CLASS.DayView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-day"></button>
    <button type="button" (click)="selectDateRange('WEEKVIEW', scheduler)" title="{{'CLASS.WeekView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-week"></button>
    <button type="button" (click)="selectDateRange('MONTHVIEW', scheduler)" title="{{'CLASS.MonthView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-month"></button>
    <button type="button" (click)="loadResourceView(scheduler)" title="{{'CLASS.WeekPlan' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-timeline"></button>
  </div>




  <div class="d-flex align-items-center">
    <h5 *ngIf="!isShowTimeDuration" class="text-white mb-0 fw-l">{{calandarDate | date:('COMMON.DateFormat'|translate)}}</h5>
    <h5 *ngIf="isShowTimeDuration" class="text-white mb-0 fw-l">
      {{calandarDateRange.start | date:('COMMON.DateFormat'|translate)}}
      <span class="px-2">{{ 'CLASS.To' | translate }}</span>
      {{calandarDateRange.end | date:('COMMON.DateFormat'|translate)}}
    </h5>
  </div>
  <div>
    <div class="btn-group">
      <button type="button" (click)="loadPriviousDay(scheduler)" class="btn btn-primary btn-icon-cal icon-calendar-backrange"></button>
      <span class="input-group-addon cal-input-group-addon">
        <span class="group-addon-mt">
          <form [formGroup]="dateFilterForm">
            <us-date-picker style="width: 200px;" formControlName="fromDate" [locale]="'COMMON.Locale'| translate" (dateChanged)="onDateChanged($event, scheduler)">
            </us-date-picker>
          </form>
        </span>
      </span>
      <button type="button" (click)="loadNextDay(scheduler)" class="btn btn-primary btn-icon-cal icon-calendar-nextrange"></button>
    </div>
  </div>
</div>



<exce-scheduler #scheduler [events]="events" [header]="false" [allDaySlot]="false" [defaultView]="viewType" [editable]="true"
  [eventLimit]="true" [scrollTime]="scrollTime" [droppable]="true" (onEventDrop)="handleOnDrop($event)" (onEventDragStop)="dragStop($event, scheduler)"
  [slotEventOverlap]="false" [eventRender]="eventRender" [dayRender]="dayRender" (onEventMouseover)="mouseOver($event, scheduler)" (onEventMouseout)="mouseOut($event)"
  (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" (onDayRightClick)="onRightClick($event)"
  (onEventRightclick)="onEventRightclick($event)" (onEventResizeStop)="eventResizeStop($event)"  [resources]="resources" (onSelect)="onSelectResource($event)" [selectable]="true"
  [views]="views" [resourceLabelText]="'CLASS.mClasses' | translate" [resourceAreaWidth]="resourceAreaWidth">
</exce-scheduler>


<div *ngIf="isShowDayContextMenu">
  <us-contextmenu [x]="contextmenuX" [y]="contextmenuY">
    <a class="dropdown-item cursor-hand" (click)="openAddNewClassModel(addNewClassModal, true)">Add new class</a>
    <!-- <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand">Separated link</a> -->
  </us-contextmenu>
</div>

<div *ngIf="isShowEventContextMenu">
  <us-contextmenu [x]="eventontextmenuX" [y]="eventContextmenuY">
    <a class="dropdown-item cursor-hand" (click)="openViewBookingsModel(viewBookingsModal)">{{ 'CLASS.ViewBookings' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="openAddNewClassModel(updateClassModal, false)">{{ 'CLASS.Change' | translate }}</a>
  </us-contextmenu>
</div>

<ng-template #addNewClassModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.AddNewClass' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0">
    <add-new-calss [isDisableDateChange]="true" [isDisableToTimeChange]="true" [activeTimeDetail]="selectedActiveTime" [isNewBooking]="isNewBooking"
      [fromDate]="fromDate" [toDate]="toDate" [startTime]="startTime" [day]="dayOfWeek" [isFixed]="true" [scheduleType]="'FIX'"
      (cancelAddingNewCls)="cancelAddingNewCls()" (saveNewClassEvent)="saveNewClassSuccess($event)"></add-new-calss>
  </div>

</ng-template>

<ng-template #updateClassModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.ClassInstanceDetail' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-2">
    <class-schedule [isDisableToTimeChange]="true" [schedule]="selectedActiveTime" [isFixed] ="isFixed" (cancelUpdatingCls)="cancelUpdatingCls()"
      (updateClassEvent)="updateClass()">
    </class-schedule>
  </div>
</ng-template>

<ng-template #viewBookingsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.BookingDetails' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-2">
    <table class="table table-sm table-hover table-default ">
        <thead class="thead-primary">
      <tr>
        <th>{{ 'CLASS.NameS' | translate }}</th>
        <th>{{ 'CLASS.Number' | translate }}</th>
        <th>{{ 'CLASS.VisitTime' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of classBookings">
        <td>{{booking.MemberName}}</td>
        <td>{{booking.MemberNumber}}</td>
        <td>{{booking.VisitTime}}</td>
      </tr>
      <tbody>
    </table>
  </div>

</ng-template>
