<div class="d-flex justify-content-start px-1">

    <!-- <div class="col-3 p-0 mr-2 ">
      <form [formGroup]="searchTypeForm" (keydown.enter)="$event.preventDefault()">
        <div class="input-group">
          <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" (selectDefaultEvent)="contractSearch(searchTypeForm.value)"
            (selectEvent)="onSelect($event,searchTypeForm.value)"> </us-autocomplete>
          <div class="input-group-btn">
            <button class="btn btn-secondary btn-icon border-right-0" type="button" (click)="closedSearch()">
              <span class="icon-close"></span>
            </button>
            <button class="btn btn-primary btn-icon" type="button" (click)="contractSearch(searchTypeForm.value)">
              <span class="icon-search"></span>
            </button>
          </div>
        </div>
      </form>
    </div> -->

  <select class="custom-select mr-2" #branchesSelect (change)="filterInput(branchesSelect.value,conCatSelect.value,activitySelect.value)">
    <option selected value="">{{ 'ADMIN.ALL' | translate }}</option>
    <option *ngFor="let branch of branches" value={{branch.Id}}>{{branch.BranchName}}</option>

  </select>

  <select class="custom-select mr-2" #activitySelect (change)="filterInput(branchesSelect.value,conCatSelect.value,activitySelect.value)">
    <option selected value="">{{ 'ADMIN.ALL' | translate }}</option>
    <option *ngFor="let act of activityCats" value={{act.Id}}>{{act.Name}}</option>
  </select>

  <select class="custom-select mr-2" #conCatSelect (change)="filterInput(branchesSelect.value,conCatSelect.value,activitySelect.value)">
    <option selected value="">{{ 'ADMIN.ALL' | translate }}</option>
    <option *ngFor="let cont of contractCats" value={{cont.Id}}>{{cont.Name}}</option>
  </select>

  <label class="custom-control custom-radio">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="0" [checked]="activeVal==0?true:false"
      (change)="changeActiveVal($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.Active' | translate }}</span>
  </label>

  <label class="custom-control custom-radio ">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="-1" [checked]="activeVal==-1?true:false"
      (change)="changeActiveVal($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.InactiveC' | translate }}</span>
  </label>

  <label class="custom-control custom-radio ">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="-2" [checked]="activeVal==-2?true:false"
      (change)="changeActiveVal($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.ALL' | translate }}</span>
  </label>

  <div class="ml-auto">
    <us-icon-button [iconClass]="'icon-add'" (click)="newTemplateModal(newTemplateModalView,false)" [labelText]="'ADMIN.MngTemplatesBtnNewTemplate' | translate "></us-icon-button>
  </div>

</div>

<div class="d-flex mx-1 mt-2">
  <ag-grid-angular
    class="ag-theme-balham grid"
    [rowData]="items"
    [columnDefs]="templateDefs"
    [enableSorting]="true"
    [enableColResize]="true"
    [enableFilter]="false"
    [floatingFilter]="true"
    [suppressCellSelection] ="true"
    [suppressNoRowsOverlay]="true"
    [rowDragManaged]="true"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (rowDoubleClicked)="rowDoubleClick($event)"
    (rowDragEnd)="rowDragEnded($event)">
  </ag-grid-angular>
  <!-- <us-data-table id="" [items]="items" [itemCount]="itemCount" (rowDoubleClick)="rowDoubleClick($event,newTemplateModalView)"
     [showPageNumber]="true" [showFirstLast]="true">
    <data-table-column [property]="'IntTemplateNumber'" header="{{ 'ADMIN.TemplateNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'PackageName'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'SortingNo'" header="" [width]="50">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="moveUp(item)">
          <span class="icon-move-up"></span>
        </button>
      </ng-template>

    </data-table-column>
    <data-table-column [property]="''" header="" [width]="50">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="moveDown(item)">
          <span class="icon-move-down"></span>
        </button>
      </ng-template>

    </data-table-column>
    <data-table-column [property]="'ContractTypeValue.Name'" header="{{ 'ADMIN.Category' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ContractTypeValue.Name}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'InStock'" header="{{ 'ADMIN.MngTemplatesHeaderStockIn' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'EndDate'" header="{{ 'ADMIN.MngTemplatesHeaderSalesTo' | translate }}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'NumOfVisits'" header="{{ 'ADMIN.MngTemplatesHeaderPunches' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'NumOfInstallments'" header="{{ 'ADMIN.NoOfOrders' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'NoOfMonths'" header="{{ 'ADMIN.MngTemplatesHeaderNoOfMonths' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'StartUpItemPrice'" [alignment]="'right'" header="{{ 'ADMIN.startUpItemPrice' | translate }}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
          <span>{{item.StartUpItemPrice | amountConverter:locale}}
          </span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ServicePrice'" [alignment]="'right'" header="{{ 'ADMIN.MngTemplatesHeaderMonthlyServicePrice' | translate }}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
          <span>{{item.ServicePrice | amountConverter:locale}}
          </span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'PackagePrice'" [alignment]="'right'" header="{{ 'ADMIN.MngTemplatesHeaderTotalPrice' | translate }}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
          <span>{{item.PackagePrice | amountConverter:locale}}
          </span>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<ng-template #newTemplateModalView let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{ isEdit?selectedItem.TemplateNumber+' '+selectedItem.PackageName:'ADMIN.MngTemplatesBtnNewTemplate' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <new-contract-template [selectedItem]="selectedItem" [isEdit]="isEdit" [activityCats]="activityCats" [ContractPackageList]="contracts"
      (saveSuccess)="getContracts();d('Cross click')" (canceled)="d('Cross click')">
    </new-contract-template>
  </div>


</ng-template>
