<div class="form-inline">
  <label>{{'ADMIN.CmbClassType' | translate}}</label>

  <input type="text" class="form-control col-2 ml-1" placeholder="{{'ADMIN.CmbClassType' | translate}}" #typeSelect  (keyup)="filterInput(typeSelect.value,approveSelect.value,branchSelect.value)" />

  <label class="ml-2">{{'ADMIN.Approved' | translate}}</label>

  <select class="custom-select col-2 ml-1" #approveSelect (change)="filterInput(typeSelect.value,approveSelect.value,branchSelect.value)">
      <option selected value=true>Approved</option>
      <option selected value=false>Unapproved</option>
      <option selected value="ALL" selected>{{ 'ADMIN.ALL' | translate }}</option>
  </select>

  <select class="custom-select col-2 ml-1"  #branchSelect (change)="filterInput(typeSelect.value,approveSelect.value,branchSelect.value)"> 
    <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
    <option *ngFor="let branch of branches" value={{branch.BranchName}}>{{branch.BranchName}}</option>
  </select>
</div>

<div class="mt-1">
  <us-data-table id="" [pagination]="false" [items]="items" [itemCount]="itemCount" 
    [rowTooltip]="rowTooltip">
    <data-table-column [property]="'Day'" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'StartDate'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.StartTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.EndTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ClassType'" header="'Class Type'" [sortable]="Resource" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="''" header="" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <us-icon-button *ngIf="item.IsApproved" [iconClass]="'icon-thumbs-up'" (click)="item.IsApproved=!item.IsApproved;changeApprovalStatus(false,item.EntityActiveTimeID)" [labelText]="' Approved '"></us-icon-button>
            <us-icon-button *ngIf="!item.IsApproved" [iconClass]="'icon-thumbs-down'" (click)="item.IsApproved=!item.IsApproved;changeApprovalStatus(true,item.EntityActiveTimeID)" [labelText]="'Unapproved'"></us-icon-button>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="" [sortable]="true" [resizable]="true">

    </data-table-column>
  </us-data-table>
</div>